/* All regions */

    html, body, .page { 
        font-size: 16px; /* 1em =&gt; 16px */
        background-color: transparent; 
        line-height: 1.6em;
    }

    a, a:hover, a:visited, a:active, a:hover, a:focus { color: #A90533;}
    a:hover, a:focus { text-decoration: none;}
    .text-center { text-align: center; }
    .display-none { display: none !important; }
    a.cursor-default:hover { cursor: default; }
    article.node { background-color: transparent; }
    .pager {
        margin: 60px 0px;
        text-align: left;
    }

    a.pager__link, a.pager__link:hover, a.pager__link:active, a.pager__link:focus  {
        padding: 20px;
        font-size: 22px;
        color: white;
        border-radius: 14px;
        background: #a90533;
    }

    .ui-widget-content a{ color: #A90533; }

    table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    h4.ident {
        padding: 15px;
        color: initial;
        font-size: 1.5em;
        font-weight: bold;
        line-height: 1.2em;
        border-bottom: 1px solid #a90533;
        margin-left: 50px;
        padding-bottom: 5px;
        padding-left: 0px;
        color: #a90533;
    }

    p.ident{ padding: 30px 50px; }

    .views-field.views-field-changed {
        font-size: 0.9em;
        font-style: italic;
        color: #444;
    }

    div.views-field-title { margin-top: 5px; }
    
    /* ckeditor-accordion-container */

    .ckeditor-accordion-container dl dd { padding: 20px 50px; }
    .ckeditor-accordion-container dl dt a {
        background: transparent;
        border: none;
        color: #a90533;
        font-weight: normal;
        font-size: 1.1em;
        line-height: 1.8em;
    }

    .accordion-ckeditor-title .ckeditor-accordion-container dl dt a { padding: 0px; }

    .ck-accordion-ident.styled a { font-size: x-large; }

    .ckeditor-accordion-container dl dt a:hover,
    .ckeditor-accordion-container dl dt.active a {
        background: transparent;
        font-weight: normal;
    }

    .ckeditor-accordion-container ul li {
        list-style: disc;
        padding: 10px;
    }

    .ckeditor-accordion-container ul li a { font-size: initial; } 

    .ckeditor-accordion-container ul li a::before { content: unset; }

    .ckeditor-accordion-container .styled {
        border: none;
        padding: 10px 0px;
    }

    dd.active { border: 1px solid #dfdfdf; }

    /** Cards **/
    .card {
        --mdb-card-spacer-y: 1.5rem;
        --mdb-card-spacer-x: 1.5rem;
        --mdb-card-title-spacer-y: 0.5rem;
        --mdb-card-border-width: 1px;
        --mdb-card-border-color: var(--mdb-border-color-translucent);
        --mdb-card-border-radius: 0.5rem;
        --mdb-card-box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
        --mdb-card-inner-border-radius: calc(0.5rem - 1px);
        --mdb-card-cap-padding-y: 0.75rem;
        --mdb-card-cap-padding-x: 1.5rem;
        --mdb-card-cap-bg: hsla(0,0%,100%,0);
        --mdb-card-bg: #fff;
        --mdb-card-img-overlay-padding: 1.5rem;
        --mdb-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--mdb-card-height);
        word-wrap: break-word;
        background-color: var(--mdb-card-bg);
        background-clip: border-box;
        border: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
        border-radius: var(--mdb-card-border-radius);
        box-shadow: var(--mdb-card-box-shadow);
    }
    .card-header {
        --mdb-card-header-border-width: 2px;
        --mdb-card-header-border-color: #f5f5f5;
        border-bottom: var(--mdb-card-header-border-width) solid var(--mdb-card-header-border-color);
        padding: var(--mdb-card-cap-padding-y) var(--mdb-card-cap-padding-x);
        margin-bottom: 0;
        color: var(--mdb-card-cap-color);
        background-color: var(--mdb-card-cap-bg);
        border-bottom: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
    }
    .card-body {
        padding: 20px 20px;
        color: var(--mdb-card-color);
    }

    /** img **/
    #main-content img {padding: 20px;}
    #main-content .field-node--field-imagen img { padding-top: 0px; }

    /** .accordeon (generado en las vistas **/

    .accordeon div { border: none; }
    .accordeon .ui-state-default a {
        color: #f9f9f9;
        font-size: xx-large;
    }

    .accordeon .ui-accordion-header-collapsed a{
        color: #a90533;
        font-size: xx-large;
        
    }

    .row-accordion-soy
    .ui-state-active a, div.ui-state-active,
    .accordeon .ui-state-active a::before { 
        color: #f9f9f9 !important; 
        background-color: #a90533;
    }

    .ui-state-visited a {
        background-color: #a90533;
        color: #f9f9f9;
    }

    .accordeon .views-accordion-header a::before {
        font-family: fontAwesome;
        content: "\f054";
        margin-right: 10px;
        font-size: large
    }

    /* contenido completo */
    .field-type-image__item { width: fit-content; }
    
    .field-node--field-imagen{ float: right;}

    .field-node--field-subtitulo { font-size: 1.7em;}

    .field-node--field-entradilla{ color:#A90533; }
/***************************
********** regions**********
****************************/

    .regions { background-color: transparent; }
    .l-rw { padding: 0px; }

/* masthead */

    #masthead {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2px;
        margin-top: 4px;
        background: #a90533;
    }

    #masthead a {
        color:white;
        padding: 10px;
        font-size: 12px;
    }

    .collapsible-masthead-content { width: 100%; }

    input#collapsible[type="checkbox"],
    input#collapsible-masthead[type="checkbox"],
    input#collapsible-ConoceFcom[type="checkbox"],
    input#collapsible-Titulos[type="checkbox"],
    input#collapsible-Practicas[type="checkbox"],
    input#collapsible-Movilidad[type="checkbox"],
    input#collapsible-Secretaria[type="checkbox"],
    input#collapsible-NoticiasFcom[type="checkbox"] { display: none; } 

    #block-u0922-menu-header { 
        margin: 0px;
        width: 100%;
    }
    
    #block-u0922-headerleft,
    #block-u0922-headerright {
            margin-top: auto;
            margin-bottom: 0px;
            align-content: center;
    }

    #block-u0922-menu-header .clearfix { margin-bottom: 0px; }

    #block-u0922-headerright ul.fcom-menu a { display: block; }

    
    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}
  
    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        
        #masthead div.l-r:nth-child(2) { 
            width: 100%;
            display: grid;
            justify-content: right;
        }
           
        .pr-header .regions {
            background: inherit;
            display: grid;
            grid-template-rows: 1fr 1fr;
        }    
        
        .pr-header__header-first {
            display: grid;
            float: none !important;
            width: 100% !important;
        }
           
        .collapsible-masthead-content .content-inner {
            display: grid;
            justify-content: space-between;
            grid-template-columns: 3fr 1fr;
            gap: 10px;
        }

        #block-u0922-headerleft,
        #superfish-u0922-headerright,
        #superfish-u0922-headerleft {
            display: grid;
            grid-gap: 10px;
        }
        
        #block-u0922-headerright {
            justify-content: end;
            display: grid;
        }

        #block-u0922-headerleft {
            justify-content: start;
            grid-template-columns: minmax(150px, 892px);
        }

        #superfish-u0922-headerright { grid-template-columns: 1fr 1fr; }
        
        #superfish-u0922-headerleft { grid-template-columns: repeat(auto-fit, minmax(90px, max-content)); }

        .fcom-menu li {
            display: flex;
            justify-content: center;
            align-items: end;
        }
    }
  
    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {}
  
    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {}


    @media  (max-width: 767px) {

        #masthead { width: 100%; }

        .pr-header__header-first { display: flex; }

        #block-u0922-menu-header .field__item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
        }

        #block-u0922-menu-header .collapsible-masthead-content .content-inner { 
            display: flex;
            justify-content: space-between;
            flex-direction: column; 
            padding: .5rem 1rem; 
            background: #A90533;
            align-content: center
        }
        #block-u0922-headerright {
            height: fit-content;
            justify-content: start;
            border-top: 1px solid white;
            padding-top: 10px;
        }

        #block-u0922-headerleft {
            width: 100%;
            height: fit-content;
            margin: 0px;
            padding-bottom: 10px;
        }
    
        #superfish-u0922-headerleft,
        #superfish-u0922-headerright { flex-direction: column; }

        #block-u0922-headerleft,
        #block-u0922-headerright {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }

                
        label.lbl-toggle-masthead { 
            display: block;
            text-align: center;
            padding: 1rem;
            color: #DDD;
            background: #A90533;
            cursor: pointer;
            border-radius: unset;
            transition: all 0.25s ease-out;
        }
        
        .lbl-toggle-masthead:hover { color: #FFF; }
        
        .lbl-toggle-masthead::before{
            font-family: fontAwesome;
            content: "\f0c9";
        }

        .collapsible-masthead-content  { 
            max-height: 0px;
            overflow: hidden;
            transition: max-height .25s ease-in-out;
        }
        
        .collapsible-masthead-content { z-index: 1; }

        .toggle:checked + .lbl-toggle-masthead + .collapsible-masthead-content { max-height: fit-content; }

        .toggle:checked+.lbl-toggle-masthead {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .collapsible-masthead-content p { margin-bottom: 0; }

    }

    /* formulario de busqueda */
    
    
    #block-formulariodebusqueda {    
        margin-right: 10px;
        margin-top: 7px;
        margin-bottom: 3px;
    }
    
    #block-formulariodebusqueda #edit-keys{
        font-size: 18px;
        background-color: #a90533;
        opacity: 0.7;
        border-radius: 7px;
        color: #f8ebef;
        height: 40px;
    }
    
    #block-formulariodebusqueda #search-block-form .form-submit{
        width: 50px;
        font-size: 18px;
        margin: 2px 10px 5px 7px;
        background-color: transparent;
        opacity: 1;
        border: 0px;
        box-shadow: none;
    }

    .search-block-form__form { margin-bottom: 0px; }
    /* fin formulario de busqueda */

    @media  (max-width: 767px) {

        #block-formulariodebusqueda {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        }
    }

/* fin masthead */

/* navbar */
    
    
    #navbar {
        margin-bottom: 2px;
        margin-top: 7px;
        background: transparent;
        color: black;
    }

    
    
    @media  (max-width: 767px) {
        #navbar .pr-navbar__rw { max-width: unset; }
        
        #navbar .l-r {
            display: flex;
            flex-direction: row;
            align-items: self-end;
            flex-wrap: wrap;
            justify-content: end;
        }

        #block-logouses{ display: flex; }
    }

    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}
 
    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        
        .l-r:before, .l-r:after {
            display: none;
            content: unset;
        }
        
        #navbar .l-r {
            display: grid;
            width: 100%;
            margin: 0 auto;
            grid-template-columns: minmax(150px, 200px) auto 160px;
        }
        
        
        
    }
 
    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) { }
 
    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {

        
    }

    /* Extra big screen devices (1440px and above) escritorio medio */
    @media only screen and (min-width: 1440px) {

        #navbar .l-r { 
            grid-template-columns: minmax(200px, 260px) auto 160px; 
            grid-gap: 5px;
        }
        #block-logouses { grid-column: unset; }
        #block-u0922-menu-principal { 
            grid-column: unset; 
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        } 
        
    }

    /* logo us es */

    
    
    #block-logouses .clearfix { margin-bottom: 0px; }
    
    #block-logouses .field__item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    #block-logouses img {
        width: 200px;
        min-width: 150px;
    }
    
    #block-logouses h1 {
        font-size: 1.2em;
        font-weight: 800;
        color: #a90533;
        margin-bottom: 0px;
        line-height: 1.2em;
        font-stretch: condensed;
        text-align: center;
    }
    
    #block-logouses p {
        margin: 0px;
        color: #454545;
        font-stretch: condensed;
    }
    
    @media  (max-width: 767px) {
        
        #block-logouses,
        #block-logouses .field__item {
            width: 100%;
            justify-content: center;
        }

        #block-logouses .field__item {
            text-align: center;
            margin: 10px 0px;
            padding: 0px;
        }

        #block-logouses .field__item h1 { text-align: center }
    }

    /* fin logo us es*/

    /* menu ppal */
    
    /* #block-u0922-menu-principal */
    .lbl-toggle {display: none;} 
    
    #block-u0922-menu-principal .block__content{ padding: 0px 0px 0px 0px; }
    
    #u0922_menu_principal { vertical-align: baseline; }
    
    #block-u0922-menu-principal .block__inner{
        display: flex;
        justify-content: end;
        flex-wrap: wrap;
        height: 100%;
        align-items: end;
    }
        
    #u0922_menu_principal a {
        padding: 0px 7px;
        font-size: 26px;
        color: #a90533;
    }
    
    .collapsible-content .content-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 20px;
    }
    
    .dropdown {
        display: flex;
        min-height: 32px;
    }
    
    #block-u0922-menu-principal .dropdown {
        align-items: baseline;
        padding: 0px 4px;
    }
    
    #block-u0922-menu-principal .dropbtn {
        background-color: transparent;
        color: #a90533;
        font-size: clamp( 1.4rem, 2vw, 2.7vh);
        font-weight: 600;
        border: none;
        cursor: pointer;
        display: inline-flex;
        padding: 0px;
    }
    
    #block-u0922-menu-principal .dropbtn:hover { border-bottom: 1px solid #a90533; }    
    
    #container_imprescindibles_mas_idiomas .dropbtn{
        color: white;
        font-size: 16px;
    }
    
    #block-u0922-menu-principal .dropdown::after {
        font-family: fontAwesome;
        content: "\f0dd";
        margin-left: 0.1em;
        font-size: 16px;
        align-self: initial;
        color: #a90533;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    
    #block-u0922-menu-principal .dropdown-content{ left: Calc(26% - 100px); }
    
    .dropdown-content a {
        color: black;
        padding: 4px 10px;
        text-decoration: none;
        display: block;
        color: #a90533;
        font-weight: 600;
    }
    
    .dropdown p { text-align: justify; }
    
    .dropdown:hover .dropdown-content,
    .dropdown:focus .dropdown-content{
        margin-left: -13%;
        background-color: white;
        z-index: 10;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        padding-top: 10px;
        margin-top: 30px;
    }
    
    .opacity0-50 { opacity: 0.5; }
    
    #block-u0922-menu-principal .dropdown:hover .dropbtn {
        background-color: transparent;
        color: #a90533;
        padding: 0px;
        border-bottom: 1px solid #a90533;
    }
    
    #block-u0922-menu-principal .dropbtn:focus {
        background-color: white;
        color: #a90533;
      }
    
    .narrativa {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
    }
    
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .column {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        flex: 1;
    }
    
    .border-row {
        border-left: 1px solid #aaa;
        padding-left: 30px;
    }    
    
    .narrativa img {
        padding: 20px;
        display: flex;
    }
    
    .narrativa p {
        padding: 20px;
        align-items: stretch;
        display: flex;
        margin-bottom: 0px;
        flex: 2;
    }
    
    .narrativa-l2 { /**/
        display: flex;
        width: stretch;
        align-items: normal;
        width: 550px;
    }
    
    .narrativa-l21 { /**/
        padding: 20px;
        width: 100%;
        align-items: stretch;
        display: flex;
    }
        
    .narrativa-l2111 { 
        width: 80%;
        margin-left: 15%;
        margin-top: 10px;
    }
        
    .narrativa-l2111 a {
        font-weight: unset;
        padding: 4px;
    }

    @media  (max-width: 767px) {
        
        #block-u0922-menu-principal {
            width: 100%;
            display: block;
            display: flex;
            justify-content: center;
        }

        #block-u0922-menu-principal .dropdown-content {
            left: 0;
            max-width: unset;
            flex-direction: column;
        }

        #block-u0922-menu-principal .narrativa img { display: none; }
        
        #block-u0922-menu-principal .dropdown:hover .dropdown-content,
        #block-u0922-menu-principal .dropdown:focus .dropdown-content {
            width: 100%;
            margin-left: 0;
            padding-top: 0px;
        }

        #block-u0922-menu-principal .border-row { border-left: unset; }
        
        #block-u0922-menu-principal .dropbtn{
            color: #DDD;
            font-size: 0.9em;
            box-shadow: unset;
            display: inline;
        }

        #block-u0922-menu-principal .dropdown:hover .dropbtn{ color: #DDD; }

        #block-u0922-menu-principal .dropdown::after,
        #block-u0922-menu-principal .dropdown::before { content: unset; }
        
        #block-u0922-menu-principal .block__inner{ flex-direction: column; }
    
        .lbl-toggle,
        .lbl-toggle-ConoceFcom,
        .lbl-toggle-Titulos,
        .lbl-toggle-Practicas,
        .lbl-toggle-Movilidad,
        .lbl-toggle-Secretaria,
        .lbl-toggle-NoticiasFcom { 
            display: block;
            text-align: center;
            padding: 1rem;
            color: #DDD;
            background: #A90533;
            cursor: pointer;
            border-radius: unset;
            transition: all 0.25s ease-out;
        }

        .lbl-toggle:hover, 
        .lbl-toggle-ConoceFcom:hover,
        .lbl-toggle-Titulos:hover,
        .lbl-toggle-Practicas:hover,
        .lbl-toggle-Movilidad:hover,
        .lbl-toggle-Secretaria:hover,
        .lbl-toggle-NoticiasFcom:hover { color: #FFF; }

        .lbl-toggle::before,
        .lbl-toggle-ConoceFcom::before,
        .lbl-toggle-Titulos::before,
        .lbl-toggle-Practicas::before,
        .lbl-toggle-Movilidad::before,
        .lbl-toggle-Secretaria::before,
        .lbl-toggle-NoticiasFcom::before { 
            content: ' ';  
            display: inline-block; 
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent; 
            border-left: 5px solid currentColor;
            vertical-align: middle;
            margin-right: .7rem; transform: translateY(-2px);
            transition: transform .2s ease-out; 
        }

        .toggle:checked+.lbl-toggle::before,
        .toggle:checked+.lbl-toggle-ConoceFcom::before,
        .toggle:checked+.lbl-toggle-Titulos::before,
        .toggle:checked+.lbl-toggle-Practicas::before,
        .toggle:checked+.lbl-toggle-Movilidad::before,
        .toggle:checked+.lbl-toggle-Secretaria::before,
        .toggle:checked+.lbl-toggle-NoticiasFcom::before { transform: rotate(90deg) translateX(-3px); }

        .collapsible-content,
        .collapsible-ConoceFcom-content,
        .collapsible-Titulos-content,
        .collapsible-Practicas-content,
        .collapsible-Movilidad-content,
        .collapsible-Secretaria-content,
        .collapsible-NoticiasFcom-content { 
            max-height: 0px;
            overflow: hidden;
            transition: max-height .25s ease-in-out;
        }

        .collapsible-ConoceFcom-content { z-index: 8; }
        .collapsible-Titulos-content { z-index: 7; }
        .collapsible-Practicas-content { z-index: 6; }
        .collapsible-Movilidad-content { z-index: 5; }
        .collapsible-Secretaria-content { z-index: 4; }
        .collapsible-NoticiasFcom-content { z-index: 3; }
        .collapsible-content .content-inner {
            width: 100%;
            flex-direction: column;
            height: fit-content;
        }

        .toggle:checked + .lbl-toggle + .collapsible-content { max-height: fit-content; }

        .toggle:checked + .lbl-toggle-ConoceFcom + .collapsible-ConoceFcom-content,
        .toggle:checked + .lbl-toggle-Titulos + .collapsible-Titulos-content,
        .toggle:checked + .lbl-toggle-Practicas + .collapsible-Practicas-content,
        .toggle:checked + .lbl-toggle-Movilidad + .collapsible-Movilidad-content,
        .toggle:checked + .lbl-toggle-Secretaria + .collapsible-Secretaria-content,
        .toggle:checked + .lbl-toggle-NoticiasFcom + .collapsible-NoticiasFcom-content
        {
            max-height:fit-content;
            display: flex;
            margin-top: 30px;
        }

        .toggle:checked+.lbl-toggle,
        .toggle:checked+.lbl-toggle-ConoceFcom,
        .toggle:checked+.lbl-toggle-Titulos,
        .toggle:checked+.lbl-toggle-Practicas,
        .toggle:checked+.lbl-toggle-Movilidad,
        .toggle:checked+.lbl-toggle-Secretaria,
        .toggle:checked+.lbl-toggle-NoticiasFcom {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .collapsible-content .content-inner {
            padding: .5rem 1rem; 
            background: #A90533;
            align-content: center
        }

        .collapsible-content p { margin-bottom: 0; }
    }
    
    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}
 
    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {}
 
    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {
        #block-u0922-menu-principal { justify-self: flex-start; }

        #block-u0922-menu-principal .dropdown-content {
            max-width: 88%;
            width: 1024px;
        }

        .narrativa { max-width: 350px; }
        .narrativa-l2 { width: 430px; }
    }
 
    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {
        
        #block-u0922-menu-principal .dropdown-content{  width: 1250px; }

        .narrativa { max-width: 400px; }
        .narrativa-l2 { width: 600px; }
        
    }
    
    /* Extra big screen devices (1440px and above) */
    @media only screen and (min-width: 1440px) {
        
        #block-u0922-menu-principal {
            grid-column: unset;
        }

        #block-u0922-menu-principal .dropdown-content{ width: 1440px; }

        .narrativa { max-width: 700px; }

        .narrativa img {
            max-width: 450px;
            max-height: 324px;
        }

        .narrativa-l2 { width: 550px; }
    }


    /* fin menu ppal */

    /* menu imprescindibles (incluye idiomas) */
    #reponsive-menu-u0922-imprescindibles { display: none; }

    #block-u0922-imprescindibles-mas-idiomas { justify-content: center; }

    #block-u0922-imprescindibles-mas-idiomas .clearfix { margin-bottom: 0px; }

    #menu-u0922-imprescindibles { padding: 30px 0px 0px 0px; }

    #container_imprescindibles_mas_idiomas .dropbtn,
    #container_imprescindibles_mas_idiomas .dropbtn:hover {
        background: #a90533;
        border: none;
        border-radius: 20px 0px 0px 20px;
        height: 55px;
        padding: 0px 22px;
    }

    #container_imprescindibles_mas_idiomas .dropdown:hover .dropdown-content,
    #container_imprescindibles_mas_idiomas .dropdown:focus .dropdown-content {
        width: fit-content;
        padding: 0px;
        margin-right: 0px;
        margin-left: unset;
        transform: translate(-93px, 30px);
    }

    #menu-u0922-imprescindibles ul {
        background: #a90533;
        padding: 0px;
        flex-direction: column;
        min-width: 250px;
        display: flex;
    }

    #menu-u0922-imprescindibles li ul {width: 15em;}


    #menu-u0922-imprescindibles li {
        list-style: none;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }

    #menu-u0922-imprescindibles li ul li {
        border-radius: unset;
        display: flex;
        padding: 5px;
    }

    #menu-u0922-imprescindibles a { 
        padding: 17px 12px;
        font-size: 12px;  
        line-height: 36px; 
        display: flex;
        align-items: center;
    }

    #menu-u0922-imprescindibles a:hover { 
        padding: 17px 12px;
        font-size: 12px;    
        background-color: #A90533;
        color: white;
    }

    #menu-u0922-imprescindibles li ul li a{
        font-size: 16px;
        align-items: center;
        padding: 5px;
        display: flex;
        width: 100%;
    }

    #menu-u0922-imprescindibles li ul { 
        margin-top: 20px; 
        width: 250px !important;
    }

    #menu-u0922-imprescindibles a { color:white; }

    a.u0922-imprescindibles-link::before {
        font-family: FontAwesome;
        padding: 2px;
        margin-right: 10px;
        font-size: 35px;
    }

    #u0922-imprescindibles-menu-link-item-1 a::before { content: "\f073"; }
    #u0922-imprescindibles-menu-link-item-2 a::before { content: "\f15b"; }
    #u0922-imprescindibles-menu-link-item-3 a::before { content: "\f017"; }
    #u0922-imprescindibles-menu-link-item-4 a::before { content: "\f15c"; }
    #u0922-imprescindibles-menu-link-item-5 a::before { content: "\f109"; }
    #u0922-imprescindibles-menu-link-item-6 a::before { content: "\f044"; }
    #u0922-imprescindibles-menu-link-item-7 a::before { content: "\f044"; }
    #u0922-imprescindibles-menu-link-item-8 a::before { content: "\f044"; }
    #u0922-imprescindibles-menu-link-item-9 a::before { content: "\f292"; }    

    @media  (max-width: 767px) {
        
        /* menu imprescindibles */
        #block-u0922-imprescindibles-mas-idiomas { display: flex; }

        #menu-u0922-imprescindibles { display: none; }

        #reponsive-menu-u0922-imprescindibles { 
            display: flex;
            border-top: 1px solid white;
        }
    
        .dropdown-content-imprescindible { padding-top: 20px; }
    
        .dropdown-content-imprescindible ul {
            list-style: none;
            padding: 0px;
        }
    
        .dropdown-content-imprescindible ul li { line-height: 2.5em; }
    
        .dropdown-content-imprescindible ul li a { display: flex; }
        
        #container_imprescindibles_mas_idiomas {
            display: flex;
            flex-direction: column;
            gap: 40px;
            min-width: 160px;
        }
    }

    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}
  
    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        
        #menu-u0922-imprescindibles {
            padding: 30px 0px 0px 0px;
            display: flex;
            justify-content: end;
        }
        
    }
  
    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {}
  
    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {
        
        #block-u0922-imprescindibles-mas-idiomas { align-self: end; }
    }

    #block-alternadordeidioma ul {
        padding: 0px; 
        display: flex;
        list-style: none;
        justify-content: end;
    }

    #block-alternadordeidioma ul li { margin: 3px; }

    #block-alternadordeidioma ul li img { 
        width: 30px; 
        height: 20px;
    }
    /* fin imprescindibles (incluye idiomas) */        

/*fin navbar */


/* highlighted */

    #highlighted {
        width: 100%;
        margin: 0px;
    }
    
    .pg-noticiasFCom .row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .pg-noticiasFCom .row div {
        max-width: 100%;
        display: flex;
        justify-content: center;
    }

    .pg-noticiasFCom .row .col-md-5 img { 
        max-height: 420px;
        width: auto;
    }

    .pg-noticiasFCom .card-title,
    .card-body h5 { color: #A90533;}

    .pg-noticiasFCom .card-title {
        font-size: 2rem;
        line-height: 2.2rem;
    }
    .pg-noticiasFCom .card-title{
        font-size: 1.6rem;
        line-height: 1.8rem;
    }

    .pg-noticiasFCom .row .card-body { 
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}
 
    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        
        #highlighted {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 35px;
        }

        .pg-noticiasFCom .row {justify-content: center;}
        .pg-noticiasFCom .col-md-5 {  width: 100%; }
        
        /* contiene img */
        .pg-noticiasFCom .row div.col-md-5:nth-child(1){ 
            width: auto; 
        }
        
        /* img */
        .pg-noticiasFCom .col-md-5 img {
            max-height: 420px;
            width: auto;
        }

    }
    
    /* Medium screen devices (889px and above) */
    @media only screen and (min-width: 889px) {
        .pg-noticiasFCom .row .col-md-5 img { max-height: 300px; }
        
        /* contiene texto */
        .pg-noticiasFCom .row div.col-md-5:nth-child(2){ flex: 1; }

    }
    /* Big screen devices (1024px and above) */
    @media only screen and (min-width: 1024px) {
        
        .pg-noticiasFCom .row .col-md-5 img { max-height: 350px; }

        .pg-noticiasFCom .card-title {
            font-size: 2.4rem;
            line-height: 2.6rem;
        }
        .pg-noticiasFCom .card-subtitle{
            font-size: 2rem;
            line-height: 2.2rem;
        }
    }
 
    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {
        .pg-noticiasFCom .row .col-md-5 img { max-height: 400px; }
        .pg-noticiasFCom .card-title {
            font-size: 2.8rem;
            line-height: 3rem;
        }
        .pg-noticiasFCom .card-subtitle{
            font-size: 2.4rem;
            line-height: 2.6rem;
        }

        
    }

    /* Super big screen devices (1440px and above) */
    @media only screen and (min-width: 1440px) {
        .pg-noticiasFCom .row .col-md-5 img {  max-height: 500px; }

        .pg-noticiasFCom .card-title {
            font-size: 3.8rem;
            line-height: 4.2rem;
        }

        .pg-noticiasFCom .card-subtitle {
            font-size: 3rem;
            line-height: 3.2rem;
        }
        
        
    }

/* fin highlighted */    

/* features */

    #features {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    #features img{ 
        border-bottom: 10px solid #a90533; 
        width: 100%;
    }

    #block-views-block-noticias-de-actualidad-block-4 .view-content {
        display: grid;
        justify-items: center;
        align-items: start;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-gap: 30px;
    }

    #block-views-block-noticias-de-actualidad-block-4 h1 {
        font-size: 26px;
        line-height: 1.2em;
    }

    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}

    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        #app-FCom .views-enlace a,
        #servicios-FCom .views-enlace a
            { flex-direction: column; }        
    }

    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {}

    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {}

/* fin features */

/* content-prefix */

    #content-prefix {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #content-prefix h2 {
        text-align: center;
        background:#a90533;
        border-radius: 10px 10px 10px 10px;
        font-size: 22px;
        color: #f9f9f9;
        padding: 8px;
    }

    /* block front page imprescindibles */

    #content-prefix h2#block-views-block-padre-block-1-2-title {
        text-align: left;
        border-bottom: 1px solid #a90533;
        border-radius: unset;
        background: transparent;
        font-weight: 600;
        color:#a90533;
    }

    /* agenda */

    div.agenda-de-la-semana { padding: 8px; }
    div.agenda-de-la-semana a { color: black; }
    div.agenda-de-la-semana span.views-field { color: #a90533;}


    #content-prefix .view-noticias-de-actualidad .pager__item a:active { background-color: #999; }

    /* novedades */

    #content-prefix .views-field-changed, 
    #content-prefix .views-field-created {
        text-decoration-line: underline;
        font-size: 0.8em;
    }

    .novedades-secretaria-front .views-field-nothing,
    .novedades-practicas-front .views-field-nothing,
    .novedades-movilidad-front .views-field-nothing{
        text-align: right;
        font-size: 20px;
        color: #a90533;
    }

    /* Utilidades y Servicios */

    #app-FCom .views-enlace,
    #servicios-FCom .views-enlace { margin: 35px 0px; }

    #app-FCom .views-enlace a, 
    #servicios-FCom .views-enlace a { 
        align-items: center; 
        color: black;
        display: flex;
    }

    #app-FCom .views-field-title, #servicios-FCom .views-field-title {
        border: 1px solid #a90533;
        padding: 8%;
        text-align: justify;
    }
    
    #app-FCom svg, #servicios-FCom svg {
        height: 75px;
        width: 75px;
        background: #a90533;
        color: white;
        border-radius: 40px;
        padding: 20%;
    }

    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (481px and above) */
    @media only screen and (min-width: 481px) {
        
        #content-prefix .row-imprescindibles {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 25px;
        }

        
    }

    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        
        /* Agenda */
        #content-prefix .view-noticias-de-actualidad .pager__items {
            text-align: left;
            padding-left: 6%;
            padding-right: 6%;
        }

        #content-prefix .view-noticias-de-actualidad .view-content,
        #content-prefix .view-noticias-de-actualidad .pager {
            margin-left: 15%;
            margin-right: 15%;
        }

        /* Utilidades & Servicios*/
        #app-FCom, #servicios-FCom {
            padding-left: 10%;
            padding-right: 10%;
        }
    }

    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) { }

    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {}


/* fin context-prefix */

/* main-content */


    /* vista Conoce FCom */

    .view-vista-conoce-fcom li { padding-top: 10px; }
    
    .google-maps {
        position: relative;
        padding-bottom: 50% !important;
        overflow: hidden;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .container-docs iframe{
        position: relative;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 550px !important;
    }

    .video-youtube {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25% !important;
    }
    .video-youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* vista Titulos */

    .body_grado li { list-style: none;}

    .superior_grado ul {
        display: flex;
        justify-content: center;
    }

    .superior_grado li {
        display: flex;
        width: 9em;
        height: 9em;
        border-radius: 75px;
        background: #a90533;
        align-items: center;
        padding: 1%;
        color: #f9f9f9;
        text-align: center;
        margin: 30px;
    }

    .superior_grado a { color: #f9f9f9;}

    .inferior_grado h3,
    h1.node__title {
        padding: 15px;
        border: #a90533 solid 1px;
        color: #a90533;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2em;
    }

    .inferior_grado dt a::before,
    .accordion-ckeditor-title-ConoceFcom dt a::before{
        font-family: fontAwesome;
        content: "\f054";
        margin-right: 10px;
        font-size: large;
    }

    .inferior_grado dt a,
    .accordion-ckeditor-title-ConoceFcom dt a {
        font-size: x-large;
        padding: 10px 0px;
    }

    .field-content.accordion-ckeditor-title-ConoceFcom a.ckeditor-accordion-toggler{ padding: 0px; }

    .accordion-ckeditor-title-ConoceFcom a.ckeditor-accordion-toggler span.ckeditor-accordion-toggle::before, 
    .accordion-ckeditor-title-ConoceFcom a.ckeditor-accordion-toggler span.ckeditor-accordion-toggle::after {
        display: none !important;
        content: "" !important;
    }

    .inferior_grado ul.opciones li {
        padding-top: 10px;
        padding-bottom: 20px; 
        line-height: 1.7em;
        list-style: none;
        padding-left: initial;
    }

    .inferior_grado ul.opciones li a::before {
        font-family: fontAwesome;
        content: "\f0c1";
        margin-right: 10px;
        font-size: x-large;

    }

    .inferior_grado ul li a { font-size: x-large;}

    .inferior_grado dd.active ul li a { font-size: larger;}

    .node--id-44 h1, 
    .node--id-3775 h1,
    .node--id-56 h1,
    .node--id-58 h1,
    .node--id-108 h1,
    .node--id-109 h1,
    .node--id-110 h1,
    .node--id-3702 h1,
    .node--id-91 h1,
    .node--id-90 h1,
    .node--id-111 h1,
    .node--id-3722 h1 {
        display: none;
    }

    /* vista practicas -&gt; SoyESTUDIANTE*/

    .jumbotron { padding: 4rem 2rem;}

    .firma-vicedecanato{
        color:#A90533;
        margin-bottom: 0;
    }

    .soy h3 {
        font-size: 1.75rem;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        border:3px solid #ccc; 
        border-radius: 10px; 
        padding-bottom:70px;
        padding-top:60px;
    }

    .soy h3 a { flex-direction: column;}

    .soy span  {
        font-size:60px;
        color:#A90533;
    }
        
    .soy a { 
        color: black; 
        display: flex;
        align-items: center;
    }

    .soy .col-sm-3 a { flex-direction: column;}
    .soy svg {
        color: #A90533;
        font-size: x-large;
        margin: 14px;
        color: #a90533;
        font-size: 2.9rem;
    }

    .soy .col-sm-3 svg {
        margin: 14px;
        font-size: 2rem;
    }

    .soy { justify-content: center;}

    .container-view-u0922-practicas  {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
        margin-bottom: 6rem;
    }

    .soy .col-sm-3 p {
        border: 3px solid #ccc;
        border-radius: 6px;
        padding: 5px 50px;
        text-align: center;
    }

    .col-sm-3 { margin: 20px; }
    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-top:50px;
    }

    .display-1 {
        font-size: 6rem;
        line-height: 1.2;
        color:#A90533;
        font-size: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px 0px;
        font-weight: 400;
    }

    .display-1 a, 
    .display-1 a:hover,
    .display-1 a:active,
    .display-1 a:focus {
        color: black;
    }

    p.display-4 {
        font-size: 55px;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 1.2;
        color: black;
    }

    .row-accordion-soy .views-accordion-header {
        padding: 20px;
        font-size: 1.2em;
        color: black;
    }

    .row-accordion-soy .ui-state-active a,
    .row-accordion-soy div.ui-state-active,
    .row-accordion-soy .accordeon .ui-state-active a::before { 
        color: black !important;
        background-color: #f7f7f7;
        border: 1px solid #dfdfdf;
    }

    .row-accordion-soy .ckeditor-accordion-container dl {
        border: 1px solid #dfdfdf;
        padding: 0px;
        margin-bottom: 0px;
    }

    .row-accordion-soy .row-accordion-soy .ui-state-visited a {
        background-color: #a90533;
        color: #f9f9f9;
    }

    .ckeditor-accordion-toggle::before,
    .ckeditor-accordion-toggle::after {
        content: unset !important;
    }

    .row-accordion-soy .ckeditor-accordion-container dl dt a {
        border-bottom: 1px solid #dfdfdf;
        padding: 10px 15px;  
    }

    .row-accordion-soy .ckeditor-accordion-container  dl dt a,
    .row-accordion-soy .ckeditor-accordion-container dl dt.active a {
        background: #f7f7f7;
        color:inherit;
    }

    .row-accordion-soy .ckeditor-accordion-container  dl dd { padding: 15px; }

    /* Noticias Fcom */
    .class-doscolumnas-noticiasfcom .views-field.views-field-title {
        font-size: 1.6em;
        line-height: 1.2em;
        min-height: 95px;
    }
    
    #main-content .class-doscolumnas-noticiasfcom .views-field.views-field-field-imagen img {
        padding-left: 0px;
        float: left;
    }
    
    .class-doscolumnas-noticiasfcom .views-field.views-field-field-entradilla {
        padding-top: 20px;
        text-align: justify;
        padding-right: 30px;
        min-height: 145px;
    }
    
    .class-doscolumnas-noticiasfcom .views-field.views-field-created {
        font-size: 0.8em;
        font-weight: 600;
        font-style: italic;
        margin-top: 5px;
    }

    /* Boletines */
    
    .noticias-boletines h4 {
        padding: 10px;
        border: #a90533 solid 1px;
        color: #a90533;
        font-size: 1em;
        font-weight: bold;
        line-height: 1em;
    }
    
    .content-redesBoletin a img { width: 20%;}

    div.cabeceraBoletines {
        display: flex;
        flex-direction: row;
    }

    #logoGabifcom {
        width: 33%;
        text-align: left;
    }

    #textoBoletin {
        width: 33%;
        text-align: center;
    }

    #redesBoletin {
        width: 33%;
        text-align: right;
    }

    .content-redesBoletin ul { list-style-type: none; }

    .content-redesBoletin li { display: inline; }

    /* directorio */

    div.views-summary.views-summary-unformatted {
        width: 30px;
        height: 30px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        font-weight: bold;
        padding: 0;
        color: #ccc;
        border-radius: 3px;
        background: #f7f7f7;
        line-height: 30px;
        margin: 0.9px;
    }

    .views-exposed-form { margin: 40px auto; }

    .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-title.form-item-title.form-no-label {
        width: fit-content;
        float: none;
    }

    #edit-actions {
        font-size: 18px;
        border-radius: 7px;
        height: 40px;
        margin: 0 0  1rem;
        width: fit-content;
    }
    .form--inline.clearfix {
        display: flex;
        font-size: 18px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    
    #edit-title {
        width: 500px;
        font-size: 18px;
        border-radius: 7px;
        color: #363636;
        height: 40px;
    }

    #edit-submit-buscador-docentes-e-investigadores {
        height: 40px;
        border-radius: 7px;
        width: fit-content;
        background-color: #a90533;
        border-color: #a90533;
        box-shadow: unset;
    }

    .views-field.views-field-field-nombredirectorio {
        font-size: 2.2em;
        line-height: 1.2em;
    }

    .views-field-field-puesto-directorio {
        font-size: 1.4em;
        margin: 20px 0px;
    }

    .views-field.views-field-body {
        line-height: 1.4em;
        margin-top: 30px;
    }
    
    #profesorDirectorio p { margin: 0px;}

    .view-buscador-docentes-e-investigadores .view-header .view-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    span.views-summary-unformatted {
        visibility: hidden;
        display: none;
    }

    .view-buscador-docentes-e-investigadores .views-col { text-align: center;}


    .view-buscador-docentes-e-investigadores dl dt a::before {
        font-family: fontAwesome;
        content: "\f054";
        margin-right: 10px;
        font-size: large;
    }

    .view-buscador-docentes-e-investigadores dl dt { font-size: x-large; }

    .view-buscador-docentes-e-investigadores dl dt a:hover {
        background-color: #a90533;
        color: white;
    }

/* content-suffix */

    #content-suffix {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1%;
    }

    #u0922_comunidad_icons,
    .container-mas-en {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr;
    } 

    #u0922_comunidad svg {
        padding: 15px;
        background-color: #a90533;
        color: white;
        height: 75px;
        width: 75px;        
    }

    #u0922_comunidad .u0922_text_icon {
        color: black;
        width: fit-content;
    }
    
    #u0922_comunidad h3{
        text-align: center;
        padding: 20px;
        font-size: 26px;
        color: white;
        border-radius: 14px;
        background: #a90533;
    }

    #u0922_comunidad a {
        /*display: inline-table;*/
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px;
        gap:5px;
    }

    #u0922_comunidad div.dropdown {
        display: flex;
        align-items: center;
        gap: 5px;
        padding: 5px;
    }

    #u0922_comunidad div.dropdown ul {
        list-style: none;
    }
   
    #u0922_comunidad .dropdown:hover .dropdown-content {
        width: Calc(25% - 150px);
        margin-left: 5%;
        background-color: #a90533;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        margin-top: 7%;
    }

    #u0922_comunidad .dropdown-content a {
        color: white;
        font-weight: unset;
    }

    .mas_en h3 {
        border-bottom: 1px solid #a90533;
        width: 100%;
        color: #a90533;
        font-weight: 600;
    }

    .container-mas-en .opcion_menu img {
        width: 100%;
        margin-right: 0px;
    }

    .container-mas-en .opcion_menu .descripcion{
        max-width: 100%;
        width: 100%;
    }
    .descripcion h4 { padding-top: 10px; }
    .descripcion p { color: black; }

    .container-mas-en{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .container-mas-en .opcion_menu { text-align: justify; }
    
    .container-mas-en .opcion_menu img {
        width: 30%;
        margin-right: 20px;
    
    }

    /* For extremely small screen devices (480px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {

        #u0922_comunidad_icons,
        .container-mas-en {
            grid-template-columns: 1fr 1fr;
        } 
    }
 
    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {}
 
    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {
        #u0922_comunidad_icons,
        .container-mas-en {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
 
    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {
        #u0922_comunidad_icons,
        .container-mas-en {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
    
/* fin content-suffix */

/*  footer */
    #footer{
        background: #a90533;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 2px;
    } 
    #footer h2 {
        text-align: center;
        font-size: xxx-large;
        line-height: normal;
    }
    #footer h3 {
        font-size: x-large;
        font-weight: normal;
        text-align: center;
    }
    #footer h2,
    #footer a {color: #f4f4f4;}
    #footer a {text-decoration: underline;}
    #block-datosdecontacto-3, #block-avisolegal { width: 100%;}
    
    .pr-footer a {
        color: white;
        text-decoration: underline;
    }

    /* For extremely small screen devices (595px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}

    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {}

    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {

        #footer {
            background: #a90533;
            padding: 50px;
            font-size: larger;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2px;
        }
        #block-datosdecontacto-3, #block-avisolegal {
            float: left;
            width: 50%;
            padding: 0px 20px;
        }
    }

    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {}

/* fin footer */

/*** Páginas ***/

/* Página decanato */

    .decanato h3 {
        padding-top: 10px;
        color: #a90533;
        font-size: xx-large;
    }

    .info_decanato {
        border: 2px solid #d7d7d7;
        padding-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 10px;
        margin-top: 50px;
    }

    .info_decanato h4 {
        color: #a90533;
        text-decoration: underline #d7d7d7 2px;
        font-weight: normal;
    }

    .tit_decanato {
        display: flex;
        justify-content: space-between;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 20px;
    }

    .tit_decanato div {
        min-width: 23%;
        max-width: 23%;
        color: #a90533;
        text-align: center;
        padding: 10px;
    }

    .datos_decanato {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
        gap: 50px;
        justify-items: legacy;
        align-items: first baseline;
    }

    div.datos_decanato {
        margin-bottom: 40px;
    }
    
    .datos_decanato h2 {
        text-align: center;
        font-size: 16px;
        color: #a90533;
        margin: 0px;
      }

    .datos_decanato div.contenido {
        background: #a90533;
        color: white;
        text-align: center;
        min-height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
    /* For extremely small screen devices (595px and below) */
    @media only screen and (max-width: 480px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 481px) {}

    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {
        .datos_decanato {
            grid-template-columns: 1fr 1fr;
        }
    }

    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) { }

    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {
        .datos_decanato {
            grid-template-columns: 1fr 1fr 2fr 1fr;
        }
    }
    

/* fin pagina decanato */

/* Cenefas */
    
    /* todas las cenefas */
    
    div.cenefa-texto p {
        font-size: 24px;
        line-height: 1.2em;
        text-align: justify;
    }
    
    div.cenefa-home {
        background: #a90533;
        color: white;
        padding: 5px;
        display: block;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    div.cenefa-home a {
        font-size: 22px;
        color: white;
        margin-right: 10px;
        font-weight: 600;
        text-decoration: none;
    }

    div.cenefa-texto {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    div.cenefa h1{
        background: #a90533;
        color: white;
        padding: 20px;
        display: inline-flex;
        width: 45%;
        margin-left: 7%;
    }

    div.cenefa-title { justify-content: center; }
    
    div.cenefa-subtitle {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
    div.cenefa-subtitle h2 {
        padding: 30px;
        border-radius: unset;
        font-size: 32px;
    }

    div.cenefa-solotexto {
        height: 350px;
        align-items: center;
        border: 1px solid;
        flex-direction: column;
        padding-top: 50px;
        background: #1a214c;
        color: #f9f9f9;
    }

    div.cenefa-solotexto h1 {
        font-weight: bold;
        font-size: 40px;
        font-stretch: condensed;
    }

    div.cenefa-subtitle-masopciones {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    div.cenefa-solotexto-masopciones {
        padding-top: 12px;
        background: #a90533;
    }

    div.cenefa-subtitle-masopciones h2 {
        padding: 30px;
        border-radius: unset;
        font-size: 45px;
        margin-left: -5%;
    }
    
    /* conoce fcom */
    div.cenefa {
        background-image: url("/sites/fcom/files/inline-images/cenefa-conoce-fcom.jpg");
        height: 350px;
        align-items: flex-end;
    }


/* fin cenefas */