/* boby - html - .page */

html, body, .page { 
    font-size: 16px; /* 1em =&gt; 16px */
    background-color: transparent; 
    line-height: 1.6em;
}

a, a:hover, a:visited, a:active, a:hover, a:focus { color: #A90533;}
a:hover, a:focus { text-decoration: none;}
.text-center { text-align: center; }
.display-none { display: none !important; }
a.cursor-default:hover { cursor: default; }
article.node { background-color: transparent; }
.pager {
    margin: 60px 0px;
    text-align: left;
}

a.pager__link, a.pager__link:hover, a.pager__link:active, a.pager__link:focus  {
    padding: 20px;
    font-size: 22px;
    color: white;
    border-radius: 14px;
    background: #a90533;
}

.ui-widget-content a{
    color: #A90533;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

h4.ident {
    padding: 15px;
    color: initial;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1.2em;
    border-bottom: 1px solid #a90533;
    margin-left: 50px;
    padding-bottom: 5px;
    padding-left: 0px;
    color: #a90533;
}

p.ident{
    padding: 30px 50px;
}

.views-field.views-field-changed {
    font-size: 0.9em;
    font-style: italic;
    color: #444;
}

/* ckeditor-accordion-container */

.ckeditor-accordion-container dl dd {
padding: 20px 50px;
}
.ckeditor-accordion-container dl dt a {
    background: transparent;
    border: none;
    color: #a90533;
    font-weight: normal;
    font-size: 1.1em;
    line-height: 1.8em;
}

.accordion-ckeditor-title .ckeditor-accordion-container dl dt a {
    padding: 0px;
}

.ck-accordion-ident.styled a {
font-size: x-large;
}


.ckeditor-accordion-container dl dt a:hover,
.ckeditor-accordion-container dl dt.active a {
    background: transparent;
    font-weight: normal;
}

.ckeditor-accordion-container ul li {
    list-style: disc;
    padding: 10px;
}

.ckeditor-accordion-container ul li a {
    font-size: initial;  
} 

.ckeditor-accordion-container ul li a::before {
    content: unset;
}

.ckeditor-accordion-container .styled {
    border: none;
    padding: 10px 0px;
}

dd.active {
    border: 1px solid #dfdfdf;
}

/* regions */

.regions { background-color: transparent; }
.l-rw { padding: 0px; }

/* masthead */

#masthead {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    margin-top: 4px;
    background: #a90533;
}

#masthead div.l-r:nth-child(2) { height: 52px; }

#masthead a {
    color:white;
    padding: 10px;
    font-size: 12px;
}

/*menu header first derecha e izquierda */

.collapsible-masthead-content { width: 100%; }

.collapsible-masthead-content .content-inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input#collapsible[type="checkbox"],
input#collapsible-masthead[type="checkbox"],
input#collapsible-ConoceFcom[type="checkbox"],
input#collapsible-Titulos[type="checkbox"],
input#collapsible-Practicas[type="checkbox"],
input#collapsible-Movilidad[type="checkbox"],
input#collapsible-Secretaria[type="checkbox"],
input#collapsible-NoticiasFcom[type="checkbox"], 
label.lbl-toggle,
label.lbl-toggle-masthead
 { display: none; } 

.pr-header__header-first { display: flex; }

#block-u0922-menu-header { 
    margin: 0px;
    width: 100%;
}

#block-u0922-menu-header .field__item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

#block-u0922-menu-header .clearfix { margin-bottom: 0px; }

#block-u0922-headerleft,
#block-u0922-headerright {
    margin-top: auto;
    margin-bottom: 0px;
    height: 55px;
    align-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* menu header first derecha */
#block-u0922-headerright {        
    justify-content: end;
}

/*menu header first izquierda */
#block-u0922-headerleft {
    margin-left: 8%;
    justify-content: start;
}

.decanato h3 {
    padding-top: 10px;
    color: #a90533;
    font-size: xx-large;
  }

.info_decanato {
    border: 2px solid #d7d7d7;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    margin-top: 50px;
  }

  .info_decanato h4 {
    color: #a90533;
    text-decoration: underline #d7d7d7 2px;
    font-weight: normal;
  }

  .tit_decanato {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
   }

   .tit_decanato div {
    min-width: 23%;
    max-width: 23%;
    color: #a90533;
    text-align: center;
    padding: 10px;
  }

  .datos_decanato {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
   }
  
   .datos_decanato div {
    background: #a90533;
    min-width: 23%;
    max-width: 23%;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

/* ul menu */
ul.fcom-menu { 
    list-style: none;
    display: inline-flex;
}

ul.fcom-menu a {
    display: block;
    position: relative;
    margin: 0px;
}

/* formulario de busqueda */
#block-formulariodebusqueda {    
    margin-right: 30%;
    margin-top: 7px;
    margin-bottom: 0px;
}

#block-formulariodebusqueda #edit-keys{
    font-size: 18px;
    background-color: #a90533;
    opacity: 0.7;
    border-radius: 7px;
    color: #f8ebef;
    height: 40px;
}
#block-formulariodebusqueda #search-block-form .form-submit{
    width: 50px;
    font-size: 18px;
    margin: 2px 10px 5px 7px;
    background-color: transparent;
    opacity: 1;
    border: 0px;
    box-shadow: none;
}

form#search-form {
    display: none;
}


form#search-form + h2 {
display: none;
}


form#search-form + h2 + div h3 {
    font-size: larger;
 }

form#search-form + h2 + div li::marker {
    color: #A90533;
    font-size: larger;
}

form#search-form + h2 + div ol {
    padding-top: 20px;
}


/* fin masthead */

/* navBar */

#navbar {
    margin-bottom: 2px;
    margin-top: 7px;
    background: transparent;
    color: black;
}

#navbar .l-r {
    display: flex;
    flex-direction: row;
    align-items: self-end;
    flex-wrap: wrap;
    justify-content: end;
}

/* logo */
#block-logouses{ 
    display: flex;
    min-width: 260px;
}

#block-logouses .clearfix { margin-bottom: 0px; }

#block-logouses .field__item {
    display: flex;
    flex-direction: column;
}

#block-logouses img {
    width: 200px;
    min-width: 150px;
}

#block-logouses h1 {
    font-size: 1.2em;
    font-weight: 800;
    color: #a90533;
    margin-bottom: 0px;
    line-height: 28px;
    font-stretch: condensed;
}

#block-logouses p {
    margin: 0px;
    color: #454545;
    font-stretch: condensed;
}

/* Menu principal */
#block-u0922-menu-principal {
    display: flex;
    width: Calc(100% - 470px);
    justify-content: center;
}

#block-u0922-menu-principal .block__content{ 
    padding: 0px 0px 0px 0px;
}


#u0922_menu_principal { vertical-align: baseline; }

#block-u0922-menu-principal .block__inner{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}


#u0922_menu_principal a {
    padding: 0px 7px;
    font-size: 26px;
    color: #a90533;
}

.collapsible-content .content-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.dropdown {
    display: flex;
    min-height: 32px;
}

#block-u0922-menu-principal .dropdown {
    align-items: baseline;
    padding: 0px 4px;
}

#block-u0922-menu-principal .dropbtn {
    background-color: transparent;
    color: #a90533;
    font-size: 1.6em;
    font-weight: 600;
    border: none;
    cursor: pointer;
    display: inline-flex;
    padding: 0px;
}

#block-u0922-menu-principal .dropbtn:hover {
    border-bottom: 1px solid #a90533;
}    

#container_imprescindibles_mas_idiomas .dropbtn{
    color: white;
    font-size: 16px;
}

#block-u0922-menu-principal .dropdown::after {
    font-family: fontAwesome;
    content: "\f0dd";
    margin-left: 0.1em;
    font-size: 16px;
    align-self: initial;
    color: #a90533;
}

.dropdown-content {
  
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#block-u0922-menu-principal .dropdown-content{
    left: Calc(26% - 100px);
    max-width: 80%;
}

.dropdown-content a {
    color: black;
    padding: 4px 10px;
    text-decoration: none;
    display: block;
    color: #a90533;
    font-weight: 600;
}

.dropdown p {
    text-align: justify;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content{
    width: Calc(90% - 150px);
    margin-left: -13%;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 10px;
    margin-top: 30px;
}

.opacity0-50 {
    opacity: 0.5;
  }

#block-u0922-menu-principal .dropdown:hover .dropbtn
{
    background-color: transparent;
    color: #a90533;
    padding: 0px;
    border-bottom: 1px solid #a90533;
}

#block-u0922-menu-principal .dropbtn:focus {
    background-color: white;
    color: #a90533;
  }

.narrativa {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.border-row {
    border-left: 1px solid #aaa;
    padding-left: 30px;
}    


.narrativa img {
    padding: 20px;
    display: flex;
    flex: 1;
    max-width: 400px;
    max-height: 300px;
}

.narrativa p {
    padding: 20px;
    align-items: stretch;
    display: flex;
    margin-bottom: 0px;
    flex: 2;
}

.narrativa-l2 { /**/
    display: flex;
    width: stretch;
    align-items: normal;
    flex: 1;
}

.narrativa-l21 { /**/
    padding: 20px;
    width: 100%;
    align-items: stretch;
    display: flex;
}
    
    
.narrativa-l2111 { 
    width: 80%;
    margin-left: 15%;
    margin-top: 10px;
}
    
.narrativa-l2111 a {
    font-weight: unset;
    padding: 4px;
}

    /* Menu Imprescidibles &amp;&amp; Idiomas */

        #reponsive-menu-u0922-imprescindibles { display: none; }

        #block-u0922-imprescindibles-mas-idiomas { 
            display: flex;
            justify-content: center;
        }

        #block-u0922-imprescindibles-mas-idiomas .clearfix {
            margin-bottom: 0px;
        }

        #container_imprescindibles_mas_idiomas {
            display: flex;
            flex-direction: column;
            gap: 40px;
            min-width: 160px;
        }

    /* Menu Imprescidibles */
        #menu-u0922-imprescindibles { padding: 30px 0px 0px 0px; }

        #container_imprescindibles_mas_idiomas .dropbtn,
        #container_imprescindibles_mas_idiomas .dropbtn:hover {
            background: #a90533;
            border: none;
            border-radius: 20px 0px 0px 20px;
            height: 55px;
            padding: 0px 22px;
        }

        #container_imprescindibles_mas_idiomas .dropdown:hover .dropdown-content,
        #container_imprescindibles_mas_idiomas .dropdown:focus .dropdown-content {
            width: fit-content;
            padding: 0px;
            margin-right: 0px;
            margin-left: unset;
            transform: translate(-93px, 30px);
        }

        #menu-u0922-imprescindibles ul {
            background: #a90533;
            padding: 0px;
            flex-direction: column;
            min-width: 250px;
            display: flex;
        }

        #menu-u0922-imprescindibles li ul {width: 15em;}


        #menu-u0922-imprescindibles li {
            
            list-style: none;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            
        }

        #menu-u0922-imprescindibles li ul li {
            border-radius: unset;
            display: flex;
            padding: 5px;
        }

        #menu-u0922-imprescindibles a { 
            padding: 17px 12px;
            font-size: 12px;  
            line-height: 36px; 
            display: flex;
            align-items: center;
        }

        #menu-u0922-imprescindibles a:hover { 
            padding: 17px 12px;
            font-size: 12px;    
            background-color: #A90533;
            color: white;
        }

        #menu-u0922-imprescindibles li ul li a{
            font-size: 16px;
            align-items: center;
            padding: 5px;
            display: flex;
            width: 100%;
        }

        #menu-u0922-imprescindibles li ul { 
            margin-top: 20px; 
            width: 250px !important;
        }

        #menu-u0922-imprescindibles a { color:white; }

        a.u0922-imprescindibles-link::before {
            font-family: FontAwesome;
            padding: 2px;
            margin-right: 10px;
            font-size: 35px;
        }

        #u0922-imprescindibles-menu-link-item-1 a::before { content: "\f073"; }
        #u0922-imprescindibles-menu-link-item-2 a::before { content: "\f15b"; }
        #u0922-imprescindibles-menu-link-item-3 a::before { content: "\f017"; }
        #u0922-imprescindibles-menu-link-item-4 a::before { content: "\f15c"; }
        #u0922-imprescindibles-menu-link-item-5 a::before { content: "\f109"; }
        #u0922-imprescindibles-menu-link-item-6 a::before { content: "\f044"; }
        #u0922-imprescindibles-menu-link-item-7 a::before { content: "\f044"; }
        #u0922-imprescindibles-menu-link-item-8 a::before { content: "\f044"; }
        #u0922-imprescindibles-menu-link-item-9 a::before { content: "\f292"; }
        

    /* alternador de idiomas */

        #block-alternadordeidioma ul {
            padding: 0px; 
            display: flex;
            list-style: none;
            justify-content: end;
        }

        #block-alternadordeidioma ul li {
            margin: 3px;
        }

        #block-alternadordeidioma ul li img { 
            width: 30px; 
            height: 20px;
        }



/* highlighted */

#highlighted {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    }

/* carrusel */ 

    .pg-noticiasFCom .row {
        --mdb-gutter-x: 1.5rem;
        --mdb-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(var(--mdb-gutter-y)*-1);
        margin-right: calc(var(--mdb-gutter-x)*-0.5);
        margin-left: calc(var(--mdb-gutter-x)*-0.5);
    }

    .pg-noticiasFCom .row div {
        max-width: 100%;
        padding-right: calc(var(--mdb-gutter-x)*0.5);
        padding-left: calc(var(--mdb-gutter-x)*0.5);
        margin-top: var(--mdb-gutter-y);
    }

    .pg-noticiasFCom .col-md-5 {
        flex: 0 0 auto;
        width: 50%;
    }

    .pg-noticiasFCom .card-title {
        font-size: 3vw;
        line-height: 1.1em;
        color: #A90533;
    }

    .card-body h5 {
        color: #a90533;
        }
    .pg-noticiasFCom .card-subtitle {
        font-size: 2.5vw;
        line-height: 1.1em;
    }
    
    #block-views-block-noticias-de-actualidad-block-4 .view-content {
        display: grid;
        justify-items: center;
        align-items: start;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 30px;
    }



    
    #block-views-block-noticias-de-actualidad-block-4 h1 {
        font-size: 26px;
        line-height: 1.2em;
    }

    .card {
        --mdb-card-spacer-y: 1.5rem;
        --mdb-card-spacer-x: 1.5rem;
        --mdb-card-title-spacer-y: 0.5rem;
        --mdb-card-border-width: 1px;
        --mdb-card-border-color: var(--mdb-border-color-translucent);
        --mdb-card-border-radius: 0.5rem;
        --mdb-card-box-shadow: 0 2px 15px -3px rgba(0,0,0,0.07),0 10px 20px -2px rgba(0,0,0,0.04);
        --mdb-card-inner-border-radius: calc(0.5rem - 1px);
        --mdb-card-cap-padding-y: 0.75rem;
        --mdb-card-cap-padding-x: 1.5rem;
        --mdb-card-cap-bg: hsla(0,0%,100%,0);
        --mdb-card-bg: #fff;
        --mdb-card-img-overlay-padding: 1.5rem;
        --mdb-card-group-margin: 0.75rem;
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: 0;
        height: var(--mdb-card-height);
        word-wrap: break-word;
        background-color: var(--mdb-card-bg);
        background-clip: border-box;
        border: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
        border-radius: var(--mdb-card-border-radius);
        box-shadow: var(--mdb-card-box-shadow);
    }
    .card-header {
        --mdb-card-header-border-width: 2px;
        --mdb-card-header-border-color: #f5f5f5;
        border-bottom: var(--mdb-card-header-border-width) solid var(--mdb-card-header-border-color);
        padding: var(--mdb-card-cap-padding-y) var(--mdb-card-cap-padding-x);
        margin-bottom: 0;
        color: var(--mdb-card-cap-color);
        background-color: var(--mdb-card-cap-bg);
        border-bottom: var(--mdb-card-border-width) solid var(--mdb-card-border-color);
    }
    .card-body {
        flex: 1 1 auto;
        padding: var(--mdb-card-spacer-y) var(--mdb-card-spacer-x);
        color: var(--mdb-card-color);
    }
        

#block-views-block-caruselnoticiasdestacadas-block-1 { 
    margin-top: 0px; 
}

#slick-views-caruselnoticiasdestacadas-block-1-1 .slide__constrained {
    width: 55%;
    margin-left: -42%;
}

h2.slide_title { 
    background: #a90533; 
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #f9f9f9;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 6px;
}

.slide__caption { padding: 0px;}
.slide__caption h3 {
    background: #a90533;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #f9f9f9;
    font-size: 32px;justify-items: center;
    align-items: start;
    line-height: 40px;
    margin-bottom: 6px;
}

.slide_entradilla {
    background: #a90533;
    padding: 23px;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #f9f9f9;
    font-size: 26px;
    margin-bottom: 10px;
}

.slide_title a { color: #f9f9f9; }

.slick-prev, .slick-next {
    width: 100px;
    height: 100px;
    box-shadow: unset;
}

.slick-arrow::before {
    color: #754949;
    opacity: 1;
    font-size: 100px;
}


/*  features */

    #features {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        background-color: transparent;
        margin-top: 20px;
    }

    #features img{ border-bottom: 10px solid #a90533; }


/* second features */
/* column css */
#block-views-block-noticias-de-actualidad-block-5 .view-header,
#block-views-block-noticias-de-actualidad-block-5 .view-content
{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

#block-views-block-noticias-de-actualidad-block-5 .view-header {
    flex: 2;
}

#block-views-block-noticias-de-actualidad-block-5 img { border:none}

#block-views-block-noticias-de-actualidad-block-5 .row {
    border-bottom: 10px solid #a90533;
    min-height: 465px;
    align-items: center;
}

    



/* content-prefix */

#content-prefix {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#content-prefix .block {
    margin: 0px;
}

/* front-page*/
#content-prefix h2 {
    text-align: center;
    background:#a90533;
    border-radius: 10px 10px 10px 10px;
    font-size: 22px;
    color: #f9f9f9;
    padding: 8px;
}

.column-50 {
    flex: 50%;
    padding: 25px;
}

.row-imprescindibles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

h2#block-views-block-padre-block-1-2-title {
    color:#a90533;
    text-align: left;
    border-bottom: 1px solid #a90533;
    border-radius: unset;
    padding-left: 37px;
    background: transparent;
    font-weight: 600;
}

.agenda-de-la-semana a {
    color: black;
}

div.views-field-title {
    margin-top: 5px;
}

div.agenda-de-la-semana {
    padding: 8px;
    margin-bottom: 2%;
    box-shadow: -4px 4px 2px -2px rgba(0,0,0,0.1);
}

#content-prefix .view-noticias-de-actualidad .view-content,
#content-prefix .view-noticias-de-actualidad .pager {
    margin-left: 15%;
    margin-right: 15%;
}

#content-prefix .view-noticias-de-actualidad .pager__items {
    text-align: left;
    padding-left: 6%;
    padding-right: 6%;
}

#content-prefix .view-noticias-de-actualidad .pager__item a{ padding: 20px; }

#content-prefix .view-noticias-de-actualidad .pager__item a:active { background-color: #999; }

#content-prefix .pager__link.pager__link--is-active:hover { background-color: #efeaea; }

#content-prefix .view-noticias-de-actualidad a {text-decoration: none; color: black; }

#content-prefix .views-field-changed, #content-prefix .views-field-created {
    text-decoration-line: underline;
    font-size: 0.8em;
}

.view-noticias-de-actualidad .svg-inline--fa {
    margin-right: 10px;
    font-size: 28px;
    color: #a90533;
}

div.agenda-de-la-semana:hover { box-shadow: -6px 6px 4px -2px rgba(0,0,0,0.3); }

.agenda-de-la-semana span.views-field {
    color: #a90533;
    text-decoration: none;
}

div.novedades-secretaria-front, .novedades-practicas-front, .novedades-movilidad-front {
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
}

.novedades-secretaria-front .views-field-nothing,  .novedades-practicas-front .views-field-nothing, .novedades-movilidad-front .views-field-nothing{
    text-align: right;
    font-size: 20px;
    color: #a90533;
}

#app-FCom, #servicios-FCom {
    padding-left: 10%;
    padding-right: 10%;
}

#app-FCom .views-enlace a, #servicios-FCom .views-enlace a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#app-FCom .views-enlace, #servicios-FCom .views-enlace {
    padding-top: 5%;
}

#app-FCom .views-field-field-icono, #servicios-FCom .views-field-field-icono {
    padding-right: 5%;
 }


#app-FCom .views-field-title, #servicios-FCom .views-field-title {
    border: 1px solid #a90533;
    padding: 2%;
    text-align: justify;
}

#app-FCom svg, #servicios-FCom svg {
    height: 75px;
    width: 75px;
    background: #a90533;
    color: white;
    border-radius: 40px;
    padding: 20%;
}

#app-FCom a,  #servicios-FCom a{
    text-decoration: none;
    color: black;
    display: flex;
}

/* cenefas */
div#block-cenefaconocefcom-3 .block__inner {
    width: 100%;
    margin: 0px;
}

div.cenefa {
    background-image: url("/sites/fcom/files/inline-images/cenefa-conoce-fcom.jpg");
    height: 350px;
    align-items: flex-end;
}

div.cenefa-texto p {
    font-size: 24px;
    line-height: 1.2em;
    text-align: justify;
}

div.cenefa h1{
    background: #a90533;
    color: white;
    padding: 20px;
    display: inline-flex;
    width: 45%;
    margin-left: 7%;
}

div.cenefa-home {
    background: #a90533;
    color: white;
    padding: 5px;
    display: block;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

div.cenefa-home a {
    font-size: 22px;
    color: white;
    margin-right: 10px;
    font-weight: 600;
    text-decoration: none;
}

div.cenefa-texto {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

div.cenefa-l1 img {
    height: 350px;
}

.cenefa-solotexto {
    height: 350px;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
    padding-top: 50px;
    background: #1a214c;
    color: #f9f9f9;
}

.cenefa-solotexto h1 {
    font-weight: bold;
    font-size: 40px;
    font-stretch: condensed;
}

.cenefa-title { justify-content: center; }
#content-prefix .cenefa-subtitle h2 {
    padding: 30px;
    border-radius: unset;
    font-size: 32px;
}

.cenefa-subtitle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.cenefa-solotexto-masopciones {
    height: 125px;
    align-items: center;
    border: 1px solid;
    flex-direction: column;
    padding-top: 12px;
    background: #a90533;
    color: #f9f9f9;
}

.cenefa-subtitle-masopciones {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#content-prefix .cenefa-subtitle-masopciones h2 {
    padding: 30px;
    border-radius: unset;
    font-size: 45px;
    margin-left: -5%;
}



/* main-content */

    h1.node__title {
        font-size: 26px;
        color: #a90533;
    }

    #main-content img {
        padding: 20px;
    }


    /* vista Conoce FCom */

    .accordeon div {
        border: none;
        background: none;
        padding: 9px;
    }

    .accordeon .ui-state-default a {
        color: #f9f9f9;
        font-size: xx-large;
    }

    .accordeon .ui-accordion-header-collapsed a{
        color: #a90533;
        font-size: xx-large;
    }

    .row-accordion-soy
    .ui-state-active a, div.ui-state-active,
    .accordeon .ui-state-active a::before { 
        color: #f9f9f9 !important; 
        background-color: #a90533;
    }

    .ui-state-visited a {
        background-color: #a90533;
        color: #f9f9f9;
    }

    .accordeon .views-accordion-header a::before {
        font-family: fontAwesome;
        content: "\f054";
        margin-right: 10px;
        font-size: large
    }

    .view-vista-conoce-fcom li { padding-top: 10px; }


    .google-maps {
        position: relative;
        padding-bottom: 50% !important;
        overflow: hidden;
    }

    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
    }

    .container-docs iframe{
        position: relative;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 550px !important;
    }


    .video-youtube {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25% !important;
    }

    .video-youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    /* vista Titulos */

    .body_grado li {
        list-style: none;
    }

    .superior_grado ul {
        display: flex;
        justify-content: center;
    }

    .superior_grado li {
        display: flex;
        width: 9em;
        height: 9em;
        border-radius: 75px;
        background: #a90533;
        align-items: center;
        padding: 1%;
        color: #f9f9f9;
        text-align: center;
        margin: 30px;
    }

    .superior_grado a {
        color: #f9f9f9;
    }

    .inferior_grado h3,
    h1.node__title {
        padding: 15px;
        border: #a90533 solid 1px;
        color: #a90533;
        font-size: 2em;
        font-weight: bold;
        line-height: 1.2em;
    }

    .inferior_grado dt a::before,
    .accordion-ckeditor-title-ConoceFcom dt a::before{
        font-family: fontAwesome;
        content: "\f054";
        margin-right: 10px;
        font-size: large;
    }

    .inferior_grado dt a,
    .accordion-ckeditor-title-ConoceFcom dt a {
        font-size: x-large;
        padding: 10px 0px;
    }

    .field-content.accordion-ckeditor-title-ConoceFcom a.ckeditor-accordion-toggler{
        padding: 0px;
    }

    .accordion-ckeditor-title-ConoceFcom a.ckeditor-accordion-toggler span.ckeditor-accordion-toggle::before, 
    .accordion-ckeditor-title-ConoceFcom a.ckeditor-accordion-toggler span.ckeditor-accordion-toggle::after {
        display: none !important;
        content: "" !important;
    }

    .inferior_grado ul.opciones li {
        padding-top: 10px;
        padding-bottom: 20px; 
        line-height: 1.7em;
        list-style: none;
        padding-left: initial;
    }

    .inferior_grado ul.opciones li a::before {
        font-family: fontAwesome;
        content: "\f0c1";
        margin-right: 10px;
        font-size: x-large;

    }

    .inferior_grado ul li a {
        font-size: x-large;
    }

    .inferior_grado dd.active ul li a {
        font-size: larger;
    }

    .node--id-44 h1, 
    .node--id-3775 h1,
    .node--id-56 h1,
    .node--id-58 h1,
    .node--id-108 h1,
    .node--id-109 h1,
    .node--id-110 h1,
    .node--id-3702 h1,
    .node--id-91 h1,
    .node--id-90 h1,
    .node--id-111 h1,
    .node--id-3722 h1 {
        display: none;
    }

    /* vista practicas -&gt; SoyESTUDIANTE*/

    .jumbotron {
        padding: 4rem 2rem;
    }

    .firma-vicedecanato{
        color:#A90533;
        margin-bottom: 0;
    }

    .soy h3 {
        font-size: 1.75rem;
        margin-bottom: .5rem;
        font-weight: 500;
        line-height: 1.2;
        border:3px solid #ccc; 
        border-radius: 10px; 
        padding-bottom:70px;
        padding-top:60px;
    }

    .soy h3 a {
        flex-direction: column;
    }

    .soy span  {
        font-size:60px;
        color:#A90533;
    }
        
    .soy a { 
        color: black; 
        display: flex;
        align-items: center;
    }

    .soy .col-sm-3 a { 
        flex-direction: column;
    }
    .soy svg {
        color: #A90533;
        font-size: x-large;
        margin: 14px;
        color: #a90533;
        font-size: 2.9rem;
    }

    .soy .col-sm-3 svg {
        margin: 14px;
        font-size: 2rem;
    }

    .soy {
        justify-content: center;
    }


    .container-view-u0922-practicas  {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        max-width: 1140px;
        margin-bottom: 6rem;
    }

    .soy .col-sm-3 p {
        border: 3px solid #ccc;
        border-radius: 6px;
        padding: 5px 50px;
        text-align: center;
    }

    .col-sm-3 { margin: 20px; }
    .col-sm-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-top:50px;
    }

    .display-1 {
        font-size: 6rem;
        line-height: 1.2;
        color:#A90533;
        font-size: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 50px 0px;
        font-weight: 400;
    }

    .display-1 a, .display-1 a:hover, .display-1 a:active, .display-1 a:focus {
        color: black;
    }

    p.display-4 {
        font-size: 55px;
        text-align: center;
        margin-bottom: 1rem;
        line-height: 1.2;
        color: black;
    }


    .row-accordion-soy .views-accordion-header {
        padding: 20px;
        font-size: 1.2em;
        color: black;
    }

    .row-accordion-soy .ui-state-active a,
    .row-accordion-soy div.ui-state-active,
    .row-accordion-soy .accordeon .ui-state-active a::before { 
        color: black !important;
        background-color: #f7f7f7;
        border: 1px solid #dfdfdf;
    }

    .row-accordion-soy .ckeditor-accordion-container dl {
        border: 1px solid #dfdfdf;
        padding: 0px;
        margin-bottom: 0px;
    }



    .row-accordion-soy .row-accordion-soy .ui-state-visited a {
        background-color: #a90533;
        color: #f9f9f9;
    }

    .row-accordion-soy .ckeditor-accordion-toggle::before,
    .row-accordion-soy .ckeditor-accordion-toggle::after {
        content: unset !important;
    }

    .row-accordion-soy .ckeditor-accordion-container dl dt a {
        border-bottom: 1px solid #dfdfdf;
        padding: 10px 15px;
    }

    .row-accordion-soy .ckeditor-accordion-container  dl dt a,
    .row-accordion-soy .ckeditor-accordion-container dl dt.active a {
        background: #f7f7f7;
        color:inherit;
    }

    .row-accordion-soy .ckeditor-accordion-container  dl dd {
        padding: 15px;
    }

    /* Noticias Fcom */
    .class-doscolumnas-noticiasfcom .views-field.views-field-title {
        font-size: 1.6em;
        line-height: 1.2em;
        min-height: 95px;
    }
    
    #main-content .class-doscolumnas-noticiasfcom .views-field.views-field-field-imagen img {
        padding-left: 0px;
        float: left;
    }
    
    .class-doscolumnas-noticiasfcom .views-field.views-field-field-entradilla {
        padding-top: 20px;
        text-align: justify;
        padding-right: 30px;
        min-height: 145px;
    }
    
    .class-doscolumnas-noticiasfcom .views-field.views-field-created {
        font-size: 0.8em;
        font-weight: 600;
        font-style: italic;
        margin-top: 5px;
    }

        /* Boletines */
    
    .noticias-boletines h4 {
        padding: 10px;
        border: #a90533 solid 1px;
        color: #a90533;
        font-size: 1em;
        font-weight: bold;
        line-height: 1em;
    }
   
    
    .content-redesBoletin a img { 
        width: 20%;
    }

    div.cabeceraBoletines {
        display: flex;
        flex-direction: row;
    }

    #logoGabifcom {
        width: 33%;
        text-align: left;
    }

    #textoBoletin {
        width: 33%;
        text-align: center;
    }

    #redesBoletin {
        width: 33%;
        text-align: right;
    }

    .content-redesBoletin ul {
        list-style-type: none;
      }

    .content-redesBoletin li {
        display: inline;
     }

    /* directorio */

    div.views-summary.views-summary-unformatted {
        width: 30px;
        height: 30px;
        position: relative;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        font-weight: bold;
        padding: 0;
        color: #ccc;
        border-radius: 3px;
        background: #f7f7f7;
        line-height: 30px;
        margin: 0.9px;
    }

    .views-exposed-form {
        margin: 40px auto;
    }

    .js-form-item.form-item.js-form-type-textfield.form-type-textfield.js-form-item-title.form-item-title.form-no-label {
        width: fit-content;
        float: none;
    }
    #edit-actions {
        
        font-size: 18px;
        border-radius: 7px;
        height: 40px;
        margin: 0 0  1rem;
        width: fit-content;
    }
    .form--inline.clearfix {
        display: flex;
        font-size: 18px;
        width: 100%;
        flex-direction: row;
        justify-content: center;
    }
    
    #edit-title {
        width: 500px;
        font-size: 18px;
        border-radius: 7px;
        color: #363636;
        height: 40px;
    }

    #edit-submit-buscador-docentes-e-investigadores {
        height: 40px;
        border-radius: 7px;
        width: fit-content;
        background-color: #a90533;
        border-color: #a90533;
        box-shadow: unset;
    }

    .views-field.views-field-field-nombredirectorio {
        font-size: 2.2em;
        line-height: 1.2em;
    }

    .views-field-field-puesto-directorio {
        font-size: 1.4em;
        margin: 20px 0px;
    }
    .views-field.views-field-body {
        line-height: 1.4em;
        margin-top: 30px;
    }
    
    #profesorDirectorio p {
        margin: 0px;
    }

    .view-buscador-docentes-e-investigadores .view-header .view-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    span.views-summary-unformatted {
        visibility: hidden;
        display: none;
    }

    .view-buscador-docentes-e-investigadores .views-col {
        text-align: center;
    }

    .view-buscador-docentes-e-investigadores dl dt a {
        font-size: x-large;
      }

      .view-buscador-docentes-e-investigadores dl dt a:active, 
      .view-buscador-docentes-e-investigadores dl dt a:hover {
        background-color: #a90533;
      }

    .view-buscador-docentes-e-investigadores dl dt {
        border: 1px solid #a90533;
        margin-top: 5px;
    }

    /* contenido completo */
    .field-type-image__item {
        width: fit-content;
    }
    
    .field-node--field-imagen{
        float: right;
    }

    .field-node--field-subtitulo {
        font-size: 1.7em;
    }

    #main-content .field-node--field-imagen img {
        padding-top: 0px;
    }

    .field-node--field-entradilla{
        color:#A90533;
    }




/*** bloque + opciones ***/
.mas_en {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.mas_en h3 {
    display: block;
    border-bottom: 1px solid #a90533;
    width: 100%;
    color: #a90533;
    font-weight: 600;
}

.container-mas-en{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container-mas-en .opcion_menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    text-align: justify;
}

.container-mas-en .opcion_menu img {
    width: 30%;
    margin-right: 20px;

}

.container-mas-en .opcion_menu .descripcion{
    display: flex;
    flex-wrap: wrap;
    max-width: 65%;
    flex-direction: column;
    width: 65%;
}
.container-mas-en .opcion_menu .descripcion h4 {
    color: #a90533;
}

.container-mas-en .link_masEn {
    width: 50%;
    max-width: 50%;
}

.descripcion p {
    color: black;
  }

/* content-suffix */

    #content-suffix {
        width: 85%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 1%;
        margin-bottom: 1%;
    }

    #u0922_comunidad_icons{
        /*width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 10px;*/
    } 

    #u0922_comunidad svg {
        padding: 15px;
        background-color: #a90533;
        color: white;
        height: 75px;
        width: 75px;        
    }

    #u0922_comunidad .u0922_text_icon {
        color: black;
        width: fit-content;
    }
    
    #u0922_comunidad h3{
        text-align: center;
        padding: 20px;
        font-size: 26px;
        color: white;
        border-radius: 14px;
        background: #a90533;
    }

    #u0922_comunidad a {
        /*display: inline-table;*/
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px;
        gap:5px;
    }
    
/* fin content-sufix */

/* footer */
    
    #footer{
        background: #a90533;
        padding: 10px 20px;
        width: 100%;
        text-align: center;
        margin-bottom: 2px;
    } 
    #footer h2 {
        text-align: center;
        font-size: xxx-large;
        line-height: normal;
    }
    #footer h3 {
        font-size: x-large;
        font-weight: normal;
        text-align: center;
    }
    #footer h2,
    #footer a {color: #f4f4f4;}
    #footer a {text-decoration: underline;}
    #block-datosdecontacto-3, #block-avisolegal { width: 100%;}
    
    .pr-footer a {
        color: white;
        text-decoration: underline;
    }

    /* For extremely small screen devices (595px and below) */
    @media only screen and (max-width: 595px) {}

    /* Small screen devices (600px and above) */
    @media only screen and (min-width: 600px) {}

    /* Medium screen devices (768px and above) */
    @media only screen and (min-width: 768px) {}

    /* Big screen devices (889px and above) */
    @media only screen and (min-width: 889px) {

        #footer {
            background: #a90533;
            padding: 50px;
            font-size: larger;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2px;
        }
        #block-datosdecontacto-3, #block-avisolegal {
            float: left;
            width: 50%;
            padding: 0px 20px;
        }
    }

    /* Extra big screen devices (1200px and above) */
    @media only screen and (min-width: 1200px) {}

/* fin footer */

    /***** Responsive css *****/


@media  (max-width: 767px) {
    
    /** masthead **/

    #masthead { width: 100%; }

    #block-u0922-menu-header .collapsible-masthead-content .content-inner {
        flex-wrap: wrap;
        flex-direction: column;
    }

    #block-u0922-headerleft {
        margin: 2px 10px;
        width: 100%;
    }

    #block-u0922-headerright { margin: 2px 10px; }

    #block-u0922-headerleft {
        height: fit-content;
        margin: 0px;
        padding-bottom: 10px;
    }

    #superfish-u0922-headerleft,
    #superfish-u0922-headerright { flex-direction: column; }

    #block-u0922-headerright {
        height: fit-content;
        justify-content: start;
        border-top: 1px solid white;
        padding-top: 10px;
        margin: 0px;
    }

    #menu-u0922-imprescindibles { display: none; }

    #reponsive-menu-u0922-imprescindibles { 
        display: flex;
        border-top: 1px solid white;
        margin: 2px 10px;
    }

    .dropdown-content-imprescindible {
        padding-top: 20px;
        display: flex;
    }

    .dropdown-content-imprescindible ul {
        list-style: none;
        padding: 0px;
        display: flex;
        flex-direction: column;
    }

    .dropdown-content-imprescindible ul li {
        line-height: 2.5em;
        align-items: center;
    }

    .dropdown-content-imprescindible ul li a { display: flex; }

    #block-formulariodebusqueda {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    /** navbar responsive **/

    #navbar .pr-navbar__rw { max-width: unset; }

    #block-logouses,
    #block-logouses .field__item {
        width: 100%;
        justify-content: center;
    }

    #block-logouses .field__item {
        text-align: center;
        margin: 10px 0px;
        padding: 0px;
    }

    #block-logouses .field__item h1 { text-align: center }

    .narrativa img { display: none; }
        
    .dropdown:hover .dropdown-content,
    .dropdown:focus .dropdown-content {
        width: 100%;
        margin-left: 0;
        padding-top: 0px;
    }

    #block-u0922-menu-principal .dropdown-content {
        left: 0;
        max-width: unset;
        flex-direction: column;
    }

    .border-row {
        border-left: unset;
        padding-left: unset;
    }

    #block-u0922-menu-principal {
        width: 100%;
        display: block;
    }

    #block-u0922-menu-principal .dropbtn{
        color: #ddd;
        font-size: 0.9em;
        box-shadow: unset;
        display: inline;
    }

    #block-u0922-menu-principal .dropdown:hover .dropbtn{ color: #DDD; }

    #block-u0922-menu-principal .dropdown::after,
    #block-u0922-menu-principal .dropdown::before { content: unset; }

    #block-u0922-menu-principal .dropbtn:hover { border-bottom: none !important; }

    #block-u0922-menu-principal .block__inner{
        flex-direction: column;
        justify-content: initial;
    }
    
    label.lbl-toggle,
    label.lbl-toggle-masthead,
    label.lbl-toggle-ConoceFcom,
    label.lbl-toggle-Titulos,
    label.lbl-toggle-Practicas,
    label.lbl-toggle-Movilidad,
    label.lbl-toggle-Secretaria,
    label.lbl-toggle-NoticiasFcom { display: block; }
    
    .lbl-toggle,
    .lbl-toggle-masthead,
    .lbl-toggle-ConoceFcom,
    .lbl-toggle-Titulos,
    .lbl-toggle-Practicas,
    .lbl-toggle-Movilidad,
    .lbl-toggle-Secretaria,
    .lbl-toggle-NoticiasFcom { 
        display: block;
        text-align: center;
        padding: 1rem;
        color: #DDD;
        background: #A90533;
        cursor: pointer;
        border-radius: unset;
        transition: all 0.25s ease-out;
    }

    .lbl-toggle:hover, 
    .lbl-toggle-masthead:hover,
    .lbl-toggle-ConoceFcom:hover,
    .lbl-toggle-Titulos:hover,
    .lbl-toggle-Practicas:hover,
    .lbl-toggle-Movilidad:hover,
    .lbl-toggle-Secretaria:hover,
    .lbl-toggle-NoticiasFcom:hover { color: #FFF; }

    .lbl-toggle::before,
    .lbl-toggle-masthead::before,
    .lbl-toggle-ConoceFcom::before,
    .lbl-toggle-Titulos::before,
    .lbl-toggle-Practicas::before,
    .lbl-toggle-Movilidad::before,
    .lbl-toggle-Secretaria::before,
    .lbl-toggle-NoticiasFcom::before { 
        content: ' ';  
        display: inline-block; 
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent; 
        border-left: 5px solid currentColor;
        vertical-align: middle;
        margin-right: .7rem; transform: translateY(-2px);
        transition: transform .2s ease-out; 
    }

    .toggle:checked+.lbl-toggle::before,
    .toggle:checked+.lbl-toggle-masthead::before,
    .toggle:checked+.lbl-toggle-ConoceFcom::before,
    .toggle:checked+.lbl-toggle-Titulos::before,
    .toggle:checked+.lbl-toggle-Practicas::before,
    .toggle:checked+.lbl-toggle-Movilidad::before,
    .toggle:checked+.lbl-toggle-Secretaria::before,
    .toggle:checked+.lbl-toggle-NoticiasFcom::before { transform: rotate(90deg) translateX(-3px); }

    .collapsible-content,
    .collapsible-masthead-content,
    .collapsible-ConoceFcom-content,
    .collapsible-Titulos-content,
    .collapsible-Practicas-content,
    .collapsible-Movilidad-content,
    .collapsible-Secretaria-content,
    .collapsible-NoticiasFcom-content { 
        max-height: 0px;
        overflow: hidden;
        transition: max-height .25s ease-in-out;
    }

    .collapsible-masthead-content { z-index: 1; }

    .collapsible-ConoceFcom-content { z-index: 8; }

    .collapsible-Titulos-content { z-index: 7; }

    .collapsible-Practicas-content { z-index: 6; }

    .collapsible-Movilidad-content { z-index: 5; }

    .collapsible-Secretaria-content { z-index: 4; }

    .collapsible-NoticiasFcom-content { z-index: 3; }

    .collapsible-content .content-inner {
        width: 100%;
        flex-direction: column;
        height: fit-content;
    }

    .toggle:checked + .lbl-toggle + .collapsible-content,
    .toggle:checked + .lbl-toggle-masthead + .collapsible-masthead-content { max-height: fit-content; }

    .toggle:checked + .lbl-toggle-ConoceFcom + .collapsible-ConoceFcom-content,
    .toggle:checked + .lbl-toggle-Titulos + .collapsible-Titulos-content,
    .toggle:checked + .lbl-toggle-Practicas + .collapsible-Practicas-content,
    .toggle:checked + .lbl-toggle-Movilidad + .collapsible-Movilidad-content,
    .toggle:checked + .lbl-toggle-Secretaria + .collapsible-Secretaria-content,
    .toggle:checked + .lbl-toggle-NoticiasFcom + .collapsible-NoticiasFcom-content {
        max-height:fit-content;
        display: flex;
        margin-top: 30px;
    }

    .toggle:checked+.lbl-toggle,
    .toggle:checked+.lbl-toggle-masthead,
    .toggle:checked+.lbl-toggle-ConoceFcom,
    .toggle:checked+.lbl-toggle-Titulos,
    .toggle:checked+.lbl-toggle-Practicas,
    .toggle:checked+.lbl-toggle-Movilidad,
    .toggle:checked+.lbl-toggle-Secretaria,
    .toggle:checked+.lbl-toggle-NoticiasFcom {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }
    .collapsible-content .content-inner,
    .collapsible-masthead-content .content-inner {
        padding: .5rem 1rem; 
        background: #A90533;
        align-content: center
    }

    .collapsible-content p,
    .collapsible-masthead-content p { margin-bottom: 0; }

    #block-alternadordeidioma {
        display: block;
        width: 100%;
        float: none;
    }

    /** highlighted **/

    #highlighted {
        width: 100%;
        margin: 0px;
    }

    .slick-arrow::before { font-size: 40px; }

    .slick__arrow { top: 100px; }

    .slick-prev,
    .slick-next {
        top: 0px;
        width: unset;
        height: unset;
    }

    h2.slide_title {
        text-align: center;
        font-size: 22px;
    }

    #slick-views-caruselnoticiasdestacadas-block-1-1 .slide__constrained { padding: 0px; }

    .slide__caption h3 {
        font-size: 18px;
        text-overflow: unset;
        white-space: unset;
        line-height: 28px;
        text-align: center;
    }

    #slick-views-caruselnoticiasdestacadas-block-1-1 p.slide_entradilla {
        font-size: initial;
        text-overflow: unset;
        white-space: unset;
        text-align: center;
    }

    #slick-views-caruselnoticiasdestacadas-block-1-1 .slide_entradilla { font-size: initial; }
    
    /* features */
    
    
    

    #app-FCom .views-enlace a, #servicios-FCom .views-enlace a { flex-direction: column; }
    #app-FCom .views-field-field-icono, #servicios-FCom .views-field-field-icono { padding-right: unset; }

    #app-FCom .views-field-title, #servicios-FCom .views-field-title {
        padding: 10%;
        text-align: center;
        margin-top: 10px;
        line-height: 1.8em;
    }

    #app-FCom .views-enlace, #servicios-FCom .views-enlace { margin: 35px 0px; }


    /* Content-Prefix*/

    
    .accordeon div {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
        padding-bottom: 0px;
}


    /*Main Content*/

    
   
    /* Content-Suffix */

    .container-mas-en .opcion_menu img {
        width: 100%;
        margin-right: 0px;
    }

    .container-mas-en .opcion_menu .descripcion{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        flex-direction: column;
        width: 100%;
    }

    .descripcion h4 {
    padding-top: 10px;
    }

    .container-mas-en{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}



@media (max-width : 480px) {

    

    
        
    /** content-prefix **/
        
        #content-prefix {
            width: 90%;
            width: 100%;
        }
        #content-prefix h2  { text-align: center; }
        .column-50 { flex: 100%; padding: 5px; }

        
        #content-prefix .view-noticias-de-actualidad .view-content, 
        #content-prefix .view-noticias-de-actualidad .pager {
            line-height: 2.8em;
        }

        #block-views-block-noticias-de-actualidad-block-5 .row { 
            min-height: fit-content;
            align-items: inherit;
            padding-bottom: 30px;
            display: flex;
            flex-direction: column;
        }



    /* Main Content*/

    .accordeon .views-accordion-header a::before {
        font-size: initial;
    }

    .accordeon .ui-accordion-header-collapsed a {
        font-size: x-large;
    }

    .accordeon .ui-state-default a {
        font-size: x-large;
    }

    .accordeon div {
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 0px;
        padding-bottom: 0px;
    }

    /** content-suffix **/
        
        

        

        .container-mas-en .link_masEn {
            width: 100%;
            max-width: 85%;
        }

        .container-mas-en .opcion_menu img {
        width: 100%;
        margin-right: 0px;
        }

        .container-mas-en{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
        }

        .descripcion h4 {
            padding-top: 10px;
        }

        .container-mas-en .opcion_menu .descripcion{
            display: flex;
            flex-wrap: wrap;
            max-width: 100%;
            flex-direction: column;
            width: 100%;
        }

        .descripcion h4 {
            padding-top: 10px;
        }

        div.mas_en {
            padding-left: 10px;
            padding-right: 10px;
        }

        div#u0922_comunidad {
            padding-left: 5px;
            padding-right: 5px;
          }

}


/* #Dispositivo = Tablets de baja resolución y teléfonos Móviles (horizontal) 
#Resolución = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {

    
}

/* Smartphones (landscape) */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) */
@media only screen and (max-width : 320px) {
    
}
/**** fin css for Smartphones (portrait) @media only screen and (max-width : 320px) */

/* iPads (portrait &amp; landscape) */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px), (max-width : 1026px) {

    
    /** navbar **/
    #slick-views-caruselnoticiasdestacadas-block-1-1 .slide__constrained {
        margin-left: 0px;
        width: 100%;
        padding-top: 3%;
    }

    h2.slide_title {
        overflow: unset;
        white-space: unset;
    }

    #slick-views-caruselnoticiasdestacadas-block-1-1 .slide_entradilla {
        overflow: unset;
        white-space: break-spaces;
        line-height: 32px;
        padding: 10px;
    }

    .slick__arrow{
        top: 40%;
        transform: translateY(-40%);
    }

    /** highlighted **/

    .pg-noticiasFCom .col-md-5 {
        width: 100%;
    }

    .pg-noticiasFCom .row {
        --mdb-gutter-x: 0;
    }

    .pg-noticiasFCom .row .card-body {
        width: 100%;
        
    }

    .pg-noticiasFCom .card-title {
        font-size: 1.5em;
        text-align: center;
    }
    
    .pg-noticiasFCom .card-subtitle {
        font-size: 1.5em;
        line-height: 1.2em;
        text-align: center;
    }
    .pg-noticiasFCom .card-text {
        text-align: center;
    }

    /** features **/
    
    
    /*#block-views-block-noticias-de-actualidad-block-5 .row { min-height: 250px; }*/

    
    

}


