<div class="menu-actas">
  <ul> 
    <li id="jf" {% if raw_arguments.tid == 194  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/194#jf">Junta de Facultad</a></li>
    <li id="cdoc" {% if raw_arguments.tid == 195  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/195#cdoc">Comisión de Docencia</a></li>
   <li id="otra" {% if raw_arguments.tid == 196  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/196#otra">Otra comisión</a></li>
  </ul>    
</div>


