<div class="row-actas views-row">
    <div id="actas" class="menu-actas">
      <ul> 
        <li id="jf" {% if raw_arguments.tid == 194  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/194">Junta de Facultad</a></li>
        <li id="cdoc" {% if raw_arguments.tid == 195  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/195">Comisión de Docencia</a></li>
      </ul>    
    </div>
    
    <div class="view view-vista-conoce-fcom view-id-vista_conoce_fcom view-display-id-block_6">
      <div class="view-header">
        <div id="header-actas-list">
          <div id="nombre">Nombre del documento</div>
          <div id="descarga">Descargar</div>
        </div>
      </div>
      
      <div class="view-content">
        <div class="item-list">
          <p id="warning-actas">No tenemos contenido aún para esta comisión</p>
        </div>
      </div>
    </div>
    </div>