<div class="menu-actas">
  <ul> <span>Comisiones estatutarias</span>
    <li {% if raw_arguments.tid == 194  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/194#actas_ce">Junta de Facultad</a></li>
    <li {% if raw_arguments.tid == 195  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/195#actas_ce">Comisión de Docencia</a></li>
    <li {% if raw_arguments.tid == 196  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/196#actas_ce">Comisión de garantía de calidad y seguimiento de los planes de estudio</a></li>
    <li {% if raw_arguments.tid == 197  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/197#actas_ce">Comisión de Prácticas en Empresas e Instituciones</a></li>
    <li {% if raw_arguments.tid == 198  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/198#actas_ce">Comisión de Reconocimiento de Créditos</a></li>
    <li {% if raw_arguments.tid == 199  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/199#actas_ce">Junta Electoral de Centro</a></li>
  </ul>
  <ul> <span>Comisiones Delegadas</span>
    <li {% if raw_arguments.tid == 200  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/200#actas_cd">Comisión Permanente</a></li>
    <li {% if raw_arguments.tid == 201  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/201#actas_cd">Comisión Económica</a></li>
    <li {% if raw_arguments.tid == 202  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/202#actas_cd">Comisión de Informática</a></li>
    <li {% if raw_arguments.tid == 203  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/203#actas_cd">Comisión de Medios Audiovisuales</a></li>
    <li {% if raw_arguments.tid == 204  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/204#actas_cd">Comisión de Ordenación Académica</a></li>
    <li {% if raw_arguments.tid == 205  %} class="active-link-actas" {% endif %}><a href="/conoce-fcom/institucional/actas/205#actas_cd">Comisión de Investigación</a></li>
  </ul>
</div>
<div id="header-actas-list">
  <div class="header-actas">
    <div id="nombre">Nombre del documento</div>
    <div id="descarga">Descargar</div>
  </div>
  {{ view }}
</div>
  