{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Prácticas</h3>
        <div class="container-mas-en">
            
                <!-- 1. Novedades -->
                <a href="/practicas/novedades" class="link_masEn {% if url ends with 'novedades' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                        <div class="descripcion">
                            <h4>Novedades</h4>
                            <p>Lorem ipsum.....</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2. #SoyEstudiante -->
                <a href="/practicas/yopractico/soyEstudiante" class="link_masEn {% if url ends with 'soyEstudiante' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEstudiante</h4>
                            <p>Lorem ipsum.....</p>
                        </div>
                    </div>
                </a>
                
                <!-- 4. Resuelva sus dudas en #YoPractico -->
                <a href="/practicas/yopractico" class="link_masEn {% if url ends with 'yopractico' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                        <div class="descripcion">
                            <h4>Resuelva sus dudas en #YoPractico</h4>
                            <p>Lorem ipsum.....</p>
                        </div>
                    </div>
                </a>
    
                <!-- 3. #SoyDocente -->
                <a href="/practicas/yopractico/soyDocente" class="link_masEn {% if url ends with 'soyDocente' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                        <div class="descripcion">
                            <h4>#SoyDocente</h4>
                            <p>Lorem ipsum....</p>
                        </div>
                    </div>
                </a>
    
                <!-- 5. #SoyEntidad -->
                <a href="/practicas/yopractico/soyentidad" class="link_masEn {% if url ends with 'soyentidad' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEntidad</h4>
                            <p>Lorem ipsum....</p>
                        </div>
                    </div>
                </a>
                
        </div>
    </div>