{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Secretaría</h3>
        <div class="container-mas-en">
            
                <!-- 1. Novedades -->
                <a href="/secretaria/novedades" class="link_masEn {% if url ends with 'novedades' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Novedades</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2. Contactar -->
                <a href="/secretaria/info" class="link_masEn {% if url ends with 'info' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>#infoSecretaria</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 4. Resuelva sus dudas en #NuestraSecretaría -->
                <a href="/secretaria/nuestrasecretaria" class="link_masEn {% if url ends with 'nuestrasecretaria' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Resuelva sus dudas en #NuestraSecretaría</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 3. #SoyEstudiante -->
                <a href="/secretaria/soyEstudiante" class="link_masEn {% if url ends with 'soyEstudiante' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEstudiante</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 5. #SoyDocente -->
                <a href="/secretaria/soyDocente" class="link_masEn {% if url ends with 'soyDocente' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>#SoyDocente</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
                
        </div>
    </div>