{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Conoce FCom</h3>
        <div class="container-mas-en">
            
                <!-- 1.Bienvenida -->
                <a href="/conoce-fcom/bienvenida" class="link_masEn {% if url ends with 'bienvenida' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Bienvenida</h4>
                            <p>Este año, nuestra Facultad cumple su trigésimo tercer aniversario. Ya son más de treinta años formando comunicadores al servicio de nuestra sociedad.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2.Alumnos -->
                <a href="/conoce-fcom/alumnos" class="link_masEn {% if url ends with 'alumnos' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Alumnos</h4>
                            <p>Nuestros estudiantes pueden encontrar en esta página información relacionada con su curso académico: calendario lectivo, secretaría virtual, acciones tutoriales del POAT, etc.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 3.Biblioteca de comunicacion -->
                <a href="/conoce-fcom/servicios/biblioteca-de-comunicacion" class="link_masEn {% if url ends with 'biblioteca-de-comunicacion' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Biblioteca</h4>
                            <p>La biblioteca de la Facultad de Comunicación es el centro neurálgico de nuestra comunidad para tareas de investigación y docencia. Visítala para conocer sus numerosas actividades y su fondo de libros especializados en Comunicación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 4.Unidad TIC -->
                <a href="/conoce-fcom/servicios/unidad-TIC" class="link_masEn {% if url ends with 'unidad-TIC' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Unidad TIC</h4>
                            <p>La Unidad TIC de la Facultad de Comunicación ofrece apoyo en el uso de las TIC orientadas al aprendizaje y la investigación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 5.Medios Audiovisuales -->
                <a href="/conoce-fcom/servicios/medios-audiovisuales" class="link_masEn {% if url ends with 'medios-audiovisuales' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Medios Audiovisuales</h4>
                            <p>El Servicio de Medios Audiovisuales está orientado por completo a la docencia de nuestros profesores y al desarrollo discente de las capacidades de nuestros estudiantes.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 6.Institucional -->
                <a href="/conoce-fcom/institucional" class="link_masEn {% if url ends with 'institucional' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Institucional</h4>
                            <p>Los miembros de la Comunidad FCom pueden conocer en esta página la estructura institucional de la Facultad de Comunicación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 7.Departamentos -->
                <a href="/conoce-fcom/departamentos" class="link_masEn {% if url ends with 'departamentos' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/menu-ppal/titulos.png" />
        
                        <div class="descripcion">
                            <h4>Departamentos</h4>
                            <p>En la Facultad de Comunicación, la enseñanza está coordinada por dieciséis Departamentos. De este número, tres de ellos están radicados en nuestro Centro.</p>
                        </div>
                    </div>
                </a>
        </div>
    </div>