{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Títulos</h3>
        <div class="container-mas-en">
            
                <!-- 1.Grados -->
                <a href="/titulos/grados" class="link_masEn {% if url ends with 'grados' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_grados.png" />
    
                        <div class="descripcion">
                            <h4>Grados</h4>
                            <p>La oferta formativa de la Facultad de Comunicación de la Universidad de Sevilla se compone de cuatro titulos de Grado (Grado en Periodismo, Grado en Comunicación Audiovisual, Grado en Publicidad y Relaciones Públicas y Doble Grado en Periodismo y Comunicación), cinco Másteres oficiales (Comunicación Institucional y Política, Escritura Creativa, Comunicación y Cultura, Guion, Narrativa y Creación Audiovisual y Publicidad y Gestión de Contenidos) y un Doctorado Interuniversitario en Comunicación, que completan un itinerario especializado y profesionalizante para nuestros estudiantes.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2.Periodismo -->
                <a href="/titulos/grados/periodismo" class="link_masEn {% if url ends with 'periodismo' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_grado_periodismo.png" />
    
                        <div class="descripcion">
                            <h4>Grado Periodismo</h4>
                            <p>El Grado de Periodismo dota a sus estudiantes de los conocimientos y competencias profesionales necesarios para el ejercicio de la profesión en los medios impresos audiovisuales y digitales.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 4.Publicidad y RRPP -->
                <a href="/titulos/grados/publicidad-y-relaciones-publicas" class="link_masEn {% if url ends with 'publicidad-y-relaciones-publicas' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_grado_publicidad.png" />
    
                        <div class="descripcion">
                            <h4>Grados Públicidad y RR-PP</h4>
                            <p>El Grado en Publicidad y Relaciones Públicas forma a sus estudiantes en la gestión y producción de la comunicación publicitaria y en las relaciones públicas.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 3.CAV -->
                <a href="/titulos/grados/comunicacion-audiovisual" class="link_masEn {% if url ends with 'comunicacion-audiovisual' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_grado_cav.png" />
    
                        <div class="descripcion">
                            <h4>Grado Comunicación Audiovisual</h4>
                            <p>El Grado en Comunicación Audiovisual capacita a sus estudiantes para investigar, conocer críticamente y emprender la realización de obras audiovisuales en sus diferentes formatos.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 5.Doble Grado -->
                <a href="/titulos/grados/doblegrado-PER-CAV" class="link_masEn {% if url ends with 'doblegrado-PER-CAV' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_grado_doblegrado.png" />
    
                        <div class="descripcion">
                            <h4>Doble Grado</h4>
                            <p>La hibridación de la formación periodística con ámbitos de la comunicación audiovisual responde a la demanda de nuevos perfiles de comunicadores solicitados por las empresas del sector de la comunicación surgidos en el campo de la nueva economía digital.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 6. Resuelva sus dudas en MiTFG -->
                <a href="/titulos/grados/miTFG" class="link_masEn {% if url ends with 'miTFG' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_mitfg.png" />
    
                        <div class="descripcion">
                            <h4>Resuelva sus dudas en #MiTFG</h4>
                            <p>Información útil para los estudiantes de la FCom, incluyendo acciones tutoriales y eventos relacionados con su día a día, como TFG, movilidad y prácticas. Los estudiantes, pueden estar al tanto del calendario lectivo, la delegación de estudiantes y el acceso a la secretaría virtual.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 7.doctorado -->
                <a href="/titulos/doctorados" class="link_masEn {% if url ends with 'doctorados' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_doctorado.png" />
    
                        <div class="descripcion">
                            <h4>Doctorado</h4>
                            <p>Un programa de doctorado interuniversitario en Comunicación de excelencia conformado por cuatro universidades y seis líneas de investigación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 8.másteres -->
                <a href="/titulos/masteres" class="link_masEn {% if url ends with 'masteres' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_masteres.png" />
    
                        <div class="descripcion">
                            <h4>Másteres</h4>
                            <p>Las enseñanzas oficiales de Máster Universitario tienen como objetivo la formación avanzada, de carácter especializado temáticamente o multidisciplinar en los saberes científico, tecnológico, humanístico y artístico, dirigida a la especialización académica y a la profesional, o en su caso, encaminada al aprendizaje en las actividades investigadoras.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 9.Comunicación institucional .... -->
                <a href="/titulos/masteres/comunicacion-institucional-politica" class="link_masEn {% if url ends with 'comunicacion-institucional-politica' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_master_com_inst_polit.png" />
    
                        <div class="descripcion">
                            <h4>Máster Comunicación Institucional y Política</h4>
                            <p>El Máster en Comunicación Institucional y Política, forma a profesionales especializados en ambos campos con especial atención a la gestión, promoción y estrategia de sus actividades vehiculadas a través de los medios de comunicación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 10.Comunicación y Cultura -->
                <a href="/titulos/masteres/comunicacion-cultura" class="link_masEn {% if url ends with 'comunicacion-cultura' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_master_com_cultura.png" />
    
                        <div class="descripcion">
                            <h4>Máster Comunicación y Cultura</h4>
                            <p>El Máster en Comunicación y Cultura forma a sus investigadores en las nociones epistemológicas y en las metodologías de mayor uso en el campo científico de la comunicación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 11.Escritura Creativa -->
                <a href="/titulos/masteres/escritura-creativa" class="link_masEn {% if url ends with 'escritura-creativa' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_master_escritura.png" />
    
                        <div class="descripcion">
                            <h4>Máster Escritura Creativa</h4>
                            <p>El Máster en Escritura Creativa forma a profesionales de la creación literaria en los distintos géneros, fomentando la imaginación artística y potenciando la creatividad.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 12. Guión, Narrativa y ... -->
                <a href="/titulos/masteres/guion-narrativa" class="link_masEn {% if url ends with 'guion-narrativa' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_master_guion_narrativa.png" />
    
                        <div class="descripcion">
                            <h4>Máster Guion, Narrativa y Creatividad Audiovisual</h4>
                            <p>La figura del guionista sigue siendo fundamental en la creación de contenidos atractivos para una audiencia cada vez más huidiza y escindida en múltiples pantallas. El Máster en Guion, Narrativa y Creatividad Audiovisual, capacita a sus alumnos para el trabajo profesional de guionista en diferentes ámbitos y formatos.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 13. Publicidad y Gestión... -->
                <a href="/titulos/masteres/publicidad-gestion-contenidos" class="link_masEn {% if url ends with 'publicidad-gestion-contenidos' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/2023-02/masen_master_publ_gestion.png" />
    
                        <div class="descripcion">
                            <h4>Máster Publicidad y Gestión de Contenidos</h4>
                            <p>El Máster en Publicidad y Gestión de Contenidos forma a sus estudiantes en la comunicación corporativa e institucional, así como en las nuevas formas de comunicación publicitaria y de relaciones públicas, fomentando las aptitudes creativas y emprendedoras y las habilidades en las nuevas estrategias nacidas de los entornos digitales.</p>
                        </div>
                    </div>
                </a>
        </div>
    </div>