{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Prácticas</h3>
        <div class="container-mas-en">
            
                <!-- 1. Novedades -->
                <a href="/practicas/novedades" class="link_masEn {% if url ends with 'novedades' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/practicas_masen/masen_novedades.png" />
    
                        <div class="descripcion">
                            <h4>Novedades</h4>
                            <p>Los planes de estudios estructuran los objetivos formativos de un título universitario oficial, los conocimientos y contenidos que se pretenden transmitir, las competencias y habilidades que lo caracterizan y se persigue dominar, las prácticas académicas externas que refuerzan su proyecto formativo y el sistema de evaluación del aprendizaje del estudiantado matriculado en dicho título.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2. #SoyEstudiante -->
                <a href="/practicas/yopractico/soyEstudiante" class="link_masEn {% if url ends with 'soyEstudiante' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/practicas_masen/masen_soyestudiante.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEstudiante</h4>
                            <p>#SoyEstudiante proporciona información sobre características de las prácticas y procesos para su solicitud y realización, así como respuestas a dudas comunes del alumnado. Se añade, asimismo, un capítulo con toda la documentación necesaria para descargar.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 4. Resuelva sus dudas en #YoPractico -->
                <a href="/practicas/yopractico" class="link_masEn {% if url ends with 'yopractico' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/practicas_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Resuelva sus dudas en #YoPractico</h4>
                            <p>#YoMeMuevo permite a estudiantes y docentes acceder a la información detallada y estructurada de todos los aspectos relacionados con la Movilidad de la Facultad de Comunicación.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 3. #SoyDocente -->
                <a href="/practicas/yopractico/soyDocente" class="link_masEn {% if url ends with 'soyDocente' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/practicas_masen/masen_soydocente.png" />
    
                        <div class="descripcion">
                            <h4>#SoyDocente</h4>
                            <p>#SoyDocente proporciona información sobre características de las prácticas y procesos para su solicitud y realización, así como respuestas a dudas comunes en torno al proceso de tutorización académica. Se añade, asimismo, un capítulo con toda la documentación necesaria para descargar.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 5. #SoyEntidad -->
                <a href="/practicas/yopractico/soyentidad" class="link_masEn {% if url ends with 'soyentidad' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/practicas_masen/masen_soyentidad.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEntidad</h4>
                            <p>#SoyEmpresa proporciona información sobre características de las prácticas y procesos para su solicitud y realización, así como respuestas a dudas comunes en torno al proceso de tutorización profesional. Se añade, asimismo, un capítulo con toda la documentación necesaria para descargar.</p>
                        </div>
                    </div>
                </a>
                
        </div>
    </div>