{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Secretaría</h3>
        <div class="container-mas-en">
            
                <!-- 1. Novedades -->
                <a href="/secretaria/novedades" class="link_masEn {% if url ends with 'novedades' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/secretaria_novedades.png" />
    
                        <div class="descripcion">
                            <h4>Novedades</h4>
                            <p>La Secretaría es un pilar fundamental en el funcionamiento y desarrollo de nuestra Facultad. Su objetivo principal es garantizar la calidad y eficiencia de los procesos burocráticos y académicos, contribuyendo así al éxito y crecimiento tanto de los estudiantes como de los docentes. Con el deseo de ser más eficiente, en este apartado aparecen las novedades relacionadas con su trabajo. </p>
                        </div>
                    </div>
                </a>
                
                <!-- 2. Contactar -->
                <a href="/secretaria/info" class="link_masEn {% if url ends with 'info' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/secretaria_info.png" />
    
                        <div class="descripcion">
                            <h4>#infoSecretaria</h4>
                            <p>En esta sección, la secretaría del Centro pone a su disposición la información necesaria, tanto para estudiantes como docentes, sobre los procesos más recurrentes de ambos sectores en su relación con este Servicio. </p>
                        </div>
                    </div>
                </a>
                
                <!-- 4. Resuelva sus dudas en #NuestraSecretaría -->
                <a href="/secretaria/nuestrasecretaria" class="link_masEn {% if url ends with 'nuestrasecretaria' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Resuelva sus dudas en #NuestraSecretaría</h4>
                            <p>Tanto si es docente como miembro del alumnado, le ayudaremos a resolver sus dudas en nuestro formulario de preguntas frecuentes.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 3. #SoyEstudiante -->
                <a href="/secretaria/soyEstudiante" class="link_masEn {% if url ends with 'soyEstudiante' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/secretaria_estudiante.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEstudiante</h4>
                            <p>En esta sección, la secretaría del Centro pone a disposición del alumnado y docentes, la información necesaria sobre los trámites más comunes que afectan a este sector de nuestra Comunidad.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 5. #SoyDocente -->
                <a href="/secretaria/soyDocente" class="link_masEn {% if url ends with 'soyDocente' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/secretaria_masen/secretaria_profesor.png" />
    
                        <div class="descripcion">
                            <h4>#SoyDocente</h4>
                            <p>En esta sección, la secretaría del Centro pone a disposición del alumnado y docentes, la información necesaria sobre los trámites más comunes que afectan a este sector de nuestra Comunidad.</p>
                        </div>
                    </div>
                </a>
                
        </div>
    </div>