{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Conoce FCom</h3>
        <div class="container-mas-en">
            
                <!-- 1.Bienvenida -->
                <div class="opcion_menu {% if url ends with 'bienvenida' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Bienvenida</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
                
                <!-- 2.Alumnos -->
                <div class="opcion_menu {% if url ends with 'alumnos' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Alumnos</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
                
                <!-- 3.Biblioteca de comunicacion -->
                <div class="opcion_menu {% if url ends with 'biblioteca-de-comunicacion' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Biblioteca</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
    
                <!-- 4.Unidad TIC -->
                <div class="opcion_menu {% if url ends with 'unidad-TIC' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Unidad TIC</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
    
                <!-- 5.Medios Audiovisuales -->
                <div class="opcion_menu {% if url ends with 'medios-audiovisuales' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Medios Audiovisuales</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
    
                <!-- 6.Institucional -->
                <div class="opcion_menu {% if url ends with 'institucional' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Institucional</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
    
                <!-- 7.Departamentos -->
                <div class="opcion_menu {% if url ends with 'departamentos' %} display-none {% endif %}">
                    <img src="/sites/fcom/files/menu-ppal/titulos.png" />
    
                    <div class="descripcion">
                        <h4>Departamentos</h4>
                        <p>Lorem ipsum.....</p>
                    </div>
                </div>
        </div>
    </div>