{% set url = url('<current>')|render|render %}
<div class="mas_en">
    <h3>+ Títulos</h3>
    <div class="container-mas-en">
        
            <!-- 1.Grados -->
            <div class="opcion_menu {% if url ends with 'grados' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Grados</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>
            
            <!-- 2.Periodismo -->
            <div class="opcion_menu {% if url ends with 'periodismo' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Grado Periodismo</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>
            
            <!-- 3.Publicidad y RRPP -->
            <div class="opcion_menu {% if url ends with 'publicidad-y-relaciones-publicas' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Grados Públicidad y RR-PP</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 4.CAV -->
            <div class="opcion_menu {% if url ends with 'comunicacion-audiovisual' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Grado Comunicación Audiovisual</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 5.Doble Grado -->
            <div class="opcion_menu {% if url ends with 'doblegrado-PER-CAV' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Doble Grado</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 6.doctorado -->
            <div class="opcion_menu {% if url ends with 'doctorados' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Grados, másteres y doctorado</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 7.másteres -->
            <div class="opcion_menu {% if url ends with 'masteres' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Másteres</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 8.Comunicación institucional .... -->
            <div class="opcion_menu {% if url ends with 'comunicacion-institucional-politica' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Máster Comunicación Institucional y Política</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 9.Comunicación y Cultura -->
            <div class="opcion_menu {% if url ends with 'comunicacion-cultura' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Máster Comunicación y Cultura</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 10.Escritura Creativa -->
            <div class="opcion_menu {% if url ends with 'escritura-creativa' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Máster Escritura Creativa</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 11.Guión, Narrativa y ... -->
            <div class="opcion_menu {% if url ends with 'guion-narrativa' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Máster Guion, Narrativa y Creatividad Audiovisual</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>

            <!-- 12.Publicidad y Gestión... -->
            <div class="opcion_menu {% if url ends with 'publicidad-gestion-contenidos' %} display-none {% endif %}">
                <img src="/sites/fcom/files/menu-ppal/titulos.png" />

                <div class="descripcion">
                    <h4>Máster Publicidad y Gestión de Contenidos</h4>
                    <p>Lorem ipsum.....</p>
                </div>
            </div>
    </div>
</div>