{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Noticias Fcom</h3>
        <div class="container-mas-en">
            
                <!-- 1. Actualidad -->
                <a href="/noticiasfcom/actualidad" class="link_masEn {% if url ends with 'actualidad' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_actualidad.png" />
    
                        <div class="descripcion">
                            <h4>Actualidad</h4>
                            <p>En este apartado damos a conocer la información de interés en el acontecer diario de nuestra comunidad.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2. Actividades y Eventos -->
                <a href="/noticiasfcom/actividades-y-eventos" class="link_masEn {% if url ends with 'eventos' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_eventos.png" />
    
                        <div class="descripcion">
                            <h4>Actividades y Eventos</h4>
                            <p>Mantente al día de jornadas, congresos, seminarios y todo tipo de eventos que se realizan en la Fcom para profesores y alumnos.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 3. Premios y becas -->
                <a href="/noticiasfcom/premiosybecas" class="link_masEn {% if url ends with 'premiosybecas' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_resenas.png" />
    
                        <div class="descripcion">
                            <h4>Premios y becas</h4>
                            <p>Conoce las convocatorias de premios y becas, así como las personas de nuestra comunidad universitaria que obtienen distinciones.</p>
                        </div>
                    </div>
                </a>

                <!-- 4. Reseñas -->
                    <a href="/noticiasfcom/resenas" class="link_masEn {% if url ends with 'resenas' %} display-none {% endif %}">
                        <div class="opcion_menu">
                            <img src="/sites/fcom/files/noticiasFcom_masen/masen_resenas.png" />
                    
                            <div class="descripcion">
                                <h4>Reseñas</h4>
                                <p>Aquí podrás conocer las últimas publicaciones del profesorado de la Fcom.</p>
                            </div>
                        </div>
                    </a>
    
                <!-- 5. Boletines -->
                <a href="/noticiasfcom/boletines" class="link_masEn {% if url ends with 'boletines' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_boletines.png" />
    
                        <div class="descripcion">
                            <h4>Boletines</h4>
                            <p>Esta sección recoge un histórico de los boletines que resumen la actualidad de nuestro centro. Además, le recordamos a todas las personas de nuestra Comunidad que, si necesitan hacer difusión de sus actividades a través de los canales de la Facultad, pueden escribir a vcomunicacionfcom@us.es. También nos pueden seguir en Twitter (@Fcom_US) y en Instagram (@fcom_us).</p>
                        </div>
                    </div>
                </a>
    
                                
        </div>
    </div>