{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Noticias Fcom</h3>
        <div class="container-mas-en">
            
                <!-- 1. Actualidad -->
                <a href="/noticiasfcom/actualidad" class="link_masEn {% if url ends with 'actualidad' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Actualidad</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 2. Actividades y Eventos -->
                <a href="/noticiasfcom/actividades-y-eventos" class="link_masEn {% if url ends with 'eventos' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Actividades y Eventos</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
                
                <!-- 3. Reseñas -->
                <a href="/noticiasfcom/reseñas" class="link_masEn {% if url ends with 'reseñas' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Reseñas</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 4. Boletines -->
                <a href="/noticiasfcom/boletines" class="link_masEn {% if url ends with 'boletines' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/noticiasFcom_masen/masen_resuelvedudas.png" />
    
                        <div class="descripcion">
                            <h4>Boletines</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ut tristique nunc. Etiam sed diam ullamcorper arcu finibus vehicula consequat non ex. Morbi neque enim, pulvinar id pharetra sed, tincidunt et velit.</p>
                        </div>
                    </div>
                </a>
    
                                
        </div>
    </div>