{% set url = url('<current>')|render|render %}
    <div class="mas_en">
        <h3>+ Movilidad</h3>
        <div class="container-mas-en">
            
                <!-- 1. Novedades -->
                    <a href="/movilidad/novedades" class="link_masEn {% if url ends with 'novedades' %} display-none {% endif %}">
                        <div class="opcion_menu">
                            <img src="/sites/fcom/files/movilidad_masen/masen_movilidad_novedades.png" />
                            <div class="descripcion">
                                <h4>Novedades</h4>
                                <p>La participación en un programa de movilidad posibilita la realización de estancias de estudio, de prácticas, de investigación, docentes o de formación en universidades de todo el mundo. Además de la experiencia internacional, la movilidad aporta otros valores como el aprendizaje de otros idiomas y el conocimiento de otras sociedades y culturas.</p>
                            </div>
                        </div>
                    </a>
                <!-- 2. Resuelva sus dudas en #YoMeMuevo -->
                <a href="/movilidad/yomemuevo" class="link_masEn {% if url ends with 'yomemuevo' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/movilidad_masen/masen_movilidad_yomemuevo.png" />
    
                        <div class="descripcion">
                            <h4>#YoMeMuevo</h4>
                            <p>Permite a estudiantes y docentes acceder a la información detallada y estructurada de todos los aspectos relacionados con la Movilidad de la Facultad de Comunicación.</p>
                        </div>
                    </div>
                </a>
                
    
                <!-- 3. #SoyEstudiante de la FCOM -->
                <a href="/movilidad/yomemuevo/soyEstudianteFcom" class="link_masEn {% if url ends with 'soyEstudianteFcom' %} display-none {% endif %}">
                    <div class="opcion_menu">
                        <img src="/sites/fcom/files/movilidad_masen/masen_movilidad_soyfcom.png" />
    
                        <div class="descripcion">
                            <h4>#SoyEstudiante de la FCOM</h4>
                            <p>Proporciona información sobre características de la Movilidad SICUE, ERASMUS y regida por CONVENIOS. El estudiante puede acceder a los destinos, acuerdos e información de trámites. Se añade, asimismo, un capítulo con toda la documentación necesaria para descargar.</p>
                        </div>
                    </div>
                </a>
    
                <!-- 4. #SoyEstudiante visitante -->
                <a href="/movilidad/yomemuevo/soyEstudianteVisitante" class="link_masEn {% if url ends with 'soyEstudianteVisitante' %} display-none {% endif %}">
                <div class="opcion_menu">
                    <img src="/sites/fcom/files/movilidad_masen/masen_movilidad_soyvisitante.png" />
    
                    <div class="descripcion">
                        <h4>#SoyEstudiante visitante</h4>
                        <p>Ofrece a los alumnos SICUE, ERASMUS o de CONVENIOS que han llegado a la Facultad, información sobre los planes de estudios y los trámites necesarios para comenzar a vivir su experiencia docente en nuestra universidad.</p>
                    </div>
                </div>
                </a>
               
        </div>
    </div>